<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>My Documents</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="page-graybg">
  <div text-center>
    <h1>Get a <span class="user-name">Document</span></h1>
  </div>
  <p>View your policy schedule and other documents or receive them via email</p>

  <div class="card">
    <h1>Document and policy number</h1>
    <div class="input-box">
      <ion-item>
        <ion-select placeholder="{{policyId || 'Select Policy'}}" [(ngModel)]="selectedPolicy" (ngModelChange)="onSelectChange()" class="title-option">
          <ion-select-option *ngFor = "let policy of policies" [value]="policy">{{policy?.offerDescription}}-{{policy?.policyNumber}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-select placeholder="Select Document" [(ngModel)]="selectedDocument" [disabled]="!selectedPolicy" class="title-option">
          <ion-select-option *ngFor = "let docu of selectedPolicy?.customerDocumentationList" [value]="docu">{{docu?.description}}</ion-select-option>
        </ion-select>
      </ion-item>
    
      <div class="form-btn">
          <a href="{{url}}"><button ion-button class="button-red" (click)="viewDocument()" type="submit" [disabled]="!selectedPolicy || !selectedDocument" full>View Now</button></a>
      </div>

      <h1>Who do you want to send it to?</h1>
      <ion-item>
        <ion-input type="text" placeholder="Full Name" [(ngModel)]="mailTo.name" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="email" name="email" placeholder="Email" [(ngModel)]="mailTo.email" #email="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"></ion-input>
      </ion-item>
      
      <div class="text-danger" *ngIf="email.errors && email.errors.pattern">
        Email is invalid
      </div>

      <div class="form-btn">
        <button ion-button class="button-red" type="submit" (click)="sendDocument()" [disabled]="!selectedPolicy || !mailTo.name || !mailTo.email || email.errors " full>SEND</button>
      </div>
    </div>
  </div>

</ion-content>
