h1 {
    font-size: 18px;
    padding-bottom: 10px;
}

.detailbox {
    background-color: #f7f7f7;
    border: 1px solid #e1e1e1;
    padding: 10px;
    margin-bottom: 10px;

    strong {
        color: #707277;
        display: block;
        margin-bottom: 5px;
    }
    p {
        margin-top: 0;
        margin-bottom: 5px;
    }
}