<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-icon name="ios-arrow-back" routerLink="/cart" [queryParams]="{planID: quoteplan.planID, planType:quoteplan.planType}"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf = "cartDetails?.length > 0" class="cart-icon">
      <span class="cart-count">{{cartDetails?.length}}</span><ion-icon name="cart" routerLink="/cart" [queryParams]="{planID: quoteplan.planID, planType:quoteplan.planType}"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="ios-home" routerLink="/home"></ion-icon>
    </ion-buttons>
    <ion-title>Personal Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>   
    <h1>Your Personal Details</h1>
    <div class="detailbox">
      <strong>{{this.quoteFormValue.MHDateOfFirstRegistration}}-01</strong>
      <strong>{{this.quoteFormValue.MHMake}} {{this.quoteFormValue.MHModel}}</strong>
      <p>Current KM : {{this.quoteFormValue.MHCurrentKilometers}}</p>
      <p>Last Service Done KM: {{this.quoteFormValue.MHLastServiceDoneKilometer}}</p>
      <p>Avg. Mile Per Annum: {{this.quoteFormValue.MHAverageMileagePerAnnum}}</p>
    </div>

    <form [formGroup]="postalAddressForm">
      <h1>Your Physical Address</h1>
      <div class="input-box">

        <ion-item>
          <ion-input type="text" formControlName="addressLine1" placeholder="Address Line 1"></ion-input>           
        </ion-item> 
        <error [formCtrl]="postalAddressForm.get('addressLine1')" [submitted]="formSubmitted"></error>

        <ion-item>
          <ion-input type="text" formControlName="addressLine2" placeholder="Address Line 2"></ion-input>            
        </ion-item>
        <error [formCtrl]="postalAddressForm.get('addressLine2')" [submitted]="formSubmitted"></error>

        <ion-item>
          <ion-input type="text" formControlName="addressLine3" placeholder="Address Line 3"></ion-input>            
        </ion-item>
        <error [formCtrl]="postalAddressForm.get('addressLine3')" [submitted]="formSubmitted"></error>

        <div>
          <lookup [entities]="postCodeDesc" formControlName="Suburb" [placeholder]="'Select Suburb'" [label]="['Suburb','City','Code']" (dataFn)="getPostCodeData($event)"></lookup>          
          <error [formCtrl]="postalAddressForm.get('Suburb')" [submitted]="formSubmitted"></error>
        </div>

      </div>
      <div class="form-btn">
        <button ion-button class="button-red" type="submit" (click)="submit()">Continue</button>
      </div>
    </form>
  </div>
</ion-content>
