<p *ngIf="submitted && formCtrl.errors" class="text-danger" [ngSwitch]="(formCtrl.errors | keys)[0]">
    <span *ngSwitchCase="'required'">
      This field is required
    </span>
    <span *ngSwitchCase="'email'">
      This field must be a valid email address
    </span>
    <span *ngSwitchCase="'equalTo'">
      Password does not match
    </span>
    <span *ngSwitchCase="'equalToEmail'">
      Email does not match
    </span>
    <span *ngSwitchCase="'minlength'">
      Minimum length of this field should be {{formCtrl.errors.minlength.requiredLength}}
    </span>
    <span *ngSwitchCase="'maxlength'">
      Maximum length of this field should be {{formCtrl.errors.maxlength.requiredLength}}
    </span>
    <span *ngSwitchCase="'invalidDateFormat'">
      Please enter valid date
    </span>
    <span *ngSwitchCase="'url'">
      Please enter valid URL which starts with http:// or https://
    </span>
    <span *ngSwitchCase="'invalidPassword'">
      Password must contain at least 8 characters including one number, one lowercase, one uppercase and one special character
    </span>
    <span *ngSwitchCase="'smallerEndDate'">
      <span *ngIf="message">{{message}}</span>
      <span *ngIf="!message">End date should be greater than start date</span>
    </span>
    <span *ngSwitchCase="'actualValue'">
      <span *ngIf="formCtrl.errors.min">This field's minimum value should be {{formCtrl.errors.requiredValue}}</span>
      <span *ngIf="formCtrl.errors.max">This field's maximum value should be {{formCtrl.errors.requiredValue}}</span>
      <span *ngIf="formCtrl.errors.range">This field's value should be between {{formCtrl.errors.requiredValue[0]}} and {{formCtrl.errors.requiredValue[1]}}</span>
    </span>
    <span *ngSwitchCase="'invalidPhoneNumber'">
      Please enter valid phone number
    </span>
    <span *ngSwitchDefault>
      This field is invalid
    </span>
  </p>
  