<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Get Quotes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div text-center>
    <h1>Get a Quote Now</h1>
    <p>Select one of our product options below to start your quote process.</p>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col class="quote-tool" text-center routerLink="/serviceplan" [queryParams]="{planID: plan[2]?.PlanTypeId, planType: plan[2]?.PlanType}">
        <img src="assets/icon/service.png"><br>
        <ion-label>Service Plans</ion-label>
      </ion-col>
      <ion-col class="quote-tool" text-center routerLink="/serviceplan" [queryParams]="{planID: plan[0]?.PlanTypeId, planType: plan[0]?.PlanType}">
        <img src="assets/icon/maintenance.png"><br>
        <ion-label>Maintenance Plans</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="quote-tool" text-center routerLink="/serviceplan" [queryParams]="{planID: plan[3]?.PlanTypeId, planType: plan[3]?.PlanType}">
        <img src="assets/icon/car-warranties.png"><br>
        <ion-label>Car Warranties</ion-label>
      </ion-col>
      <ion-col class="quote-tool" text-center routerLink="/carinsurance">
        <img src="assets/icon/car-insurance.png"><br>
        <ion-label>Car Insurance</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="quote-tool" text-center routerLink="/serviceplan" [queryParams]="{planID: plan[1]?.PlanTypeId, planType: plan[1]?.PlanType}">
        <img src="assets/icon/renew-tech.png"><br>
      <ion-label>RenewTech</ion-label>
    </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
