<div class="lookup-input">

  <div class="lookup-result" *ngIf="modelValue.length" (click)="remove(idx)">
    <span *ngFor = "let value of modelValue, let idx=index">
      <span *ngFor = "let list of label" >{{value[list]}} </span>
    </span>
  </div>

  <div>
      <input *ngIf="!modelValue.length" type="text" [(ngModel)]="query" (ngModelChange)="onsearch($event)" placeholder="{{placeholder}}"/>
  </div>

</div>

<div *ngIf = "entities.length > 0" class="dropdown-list">
  <ul>
      <li *ngFor ="let item of entities" (click)="onSelect(item)">
        <span *ngFor = "let list of label">{{item[list]}} </span>
      </li>
  </ul>
</div> 


