.lookup-input input{
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    font-size: 16px;
}
.dropdown-list{
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #e1e1e1;
    height: 175px;
    overflow-y: auto;
    margin-top: -1px;
    border-radius: 5px 5px 0 0px;
    ul{
        margin: 0;
        padding: 5px 15px;
        li{
            font-size: 15px;
            list-style: none;
            display: block;
            padding: 10px 0;
        }
    }
}

.lookup-result{
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    font-size: 15px;
}

.remove{
    font-size: 24px;
    line-height: 24px;
    float: right;
    color: #db455c;
}

