<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="ios-arrow-back" routerLink="/"></ion-icon>
    </ion-buttons>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="forgotPassword" *ngIf = "isOTP == false"> 
    <div>

      <div class="radio-group">
        <label class="container" (click)="formChange()">
          <input type="radio" value="id" formControlName="type" (ngModelChange)="onTypeChangePassword($event)" checked>
          ID Number 
          <span class="checkmark"></span>
        </label>
      
        <label class="container" (click)="formChange()">
          <input type="radio" value="passport" formControlName="type" (ngModelChange)="onTypeChangePassword($event)">
            Passport
          <span class="checkmark"></span>
        </label>
      </div>

      <div class="input-box">
        <ion-item *ngIf = "forgotPassword.controls['type'].value == 'id'">
          <ion-input type="digit" formControlName="identificationNo" placeholder="Identity Number" minlength="13" maxlength="13"></ion-input>
        </ion-item>
        <error [formCtrl]="forgotPassword.get('identificationNo')" [submitted]="formSubmitted"></error>

        <ion-item *ngIf = "forgotPassword.controls['type'].value == 'passport'">
          <ion-input type="text" formControlName="passportNo" placeholder="Passport No"></ion-input>
        </ion-item>
        <error [formCtrl]="forgotPassword.get('passportNo')" [submitted]="formSubmitted"></error>

        <ion-item>
          <ion-input type="{{type}}" formControlName="newPassword" placeholder="New Password"></ion-input>
          <button *ngIf="!showPass" class="show-pwd" ion-button type="button" item-right (click)="showPassword()"><ion-icon ios="ios-eye-off" md="md-eye-off"></ion-icon></button>
          <button *ngIf="showPass" class="show-pwd" ion-button type="button" item-right (click)="showPassword()"><ion-icon ios="ios-eye" md="md-eye"></ion-icon></button>
        </ion-item>
        <error [formCtrl]="forgotPassword.get('newPassword')" [submitted]="formSubmitted"></error>
      </div>

      <div class="form-btn">
        <button ion-button class="button-red" type="submit" (click)="updatePassword()">Update</button>
      </div>

    </div>
  </form>

  <form [formGroup]="OTPForm" *ngIf = "isOTP == true">
    <div class="input-box">
      <ion-item>
        <ion-input type="text" formControlName="oneTimePassword" placeholder="Enter Your OTP" maxlength="6"></ion-input>
      </ion-item>
      <error [formCtrl]="OTPForm.get('oneTimePassword')" [submitted]="formSubmitted"></error>
    </div>

    <div class="form-btn">
      <button ion-button class="button-red" type="submit" (click)="confirmOTP()">Verify</button>
    </div>
  </form>

</ion-content>
