h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

h2 {
    font-size: 15px;
    font-family: 'Nunito';
    font-style: normal;
    color: #707277;
    margin-bottom: 5px;
}

p {
    margin-top: 0;
}

.profile-logo {
    height: 80px;
    width: 80px;
}

ion-icon {
    font-size: 25px;
    font-family: 'Nunito';
}
.button-red {
    width: auto;
}