<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="page-graybg">
  <div text-center>
    <img class="profile-logo" src = "assets/img/profile-logo.png">
    <h1>Welcome <span class="user-name"> {{userDetail?.firstName}} {{userDetail?.surname}}</span></h1>
    <ion-segment (ionChange)="segmentChanged($event)" class="segment-button"> 
      <ion-segment-button value="details" class="segment-option" checked no-lines>
        My Details
      </ion-segment-button>
      <ion-segment-button value="account" class="segment-option" no-lines>
        Account Security
      </ion-segment-button>
    </ion-segment>
  </div>

  <accordion *ngIf = "view == 'details'" class="box">
    <accordion-group>
      <accordion-heading (click)="changeSubmit()">
        <p><span>Personal Details</span><ion-icon name="ios-arrow-down"></ion-icon></p>
      </accordion-heading>
      <form [formGroup]="profileDetailForm">
        <div class="input-box">
          <ion-item>
            <ion-select formControlName="TitleId" placeholder="Select Title" class="title-option">
              <ion-select-option *ngFor="let list of title" [value]="list.Key">{{list?.Value}}</ion-select-option>
            </ion-select>
          </ion-item>
          <error [formCtrl]="profileDetailForm.get('TitleId')" [submitted]="formSubmitted"></error>

          <ion-item>
            <ion-input type="text" formControlName="firstName" placeholder="First Name"></ion-input>      
          </ion-item> 
          <error [formCtrl]="profileDetailForm.get('firstName')" [submitted]="formSubmitted"></error>
      
          <ion-item>
            <ion-input type="text" formControlName="surname" placeholder="Surname"></ion-input>           
          </ion-item>
          <error [formCtrl]="profileDetailForm.get('surname')" [submitted]="formSubmitted"></error>
      
          <ion-item>
            <ion-input placeholder="Date of Birth" type="date" displayFormat='DD/MM/YYYY' formControlName="birthDate" [max]="maxDateString()"></ion-input>           
          </ion-item>
          <error [formCtrl]="profileDetailForm.get('birthDate')" [submitted]="formSubmitted"></error>

          <ion-item *ngIf = "profileDetailForm.controls['identificationNo'].value">
            <ion-input type="digit" formControlName="identificationNo" placeholder="Identity Number" readonly></ion-input>
          </ion-item>
          
          <ion-item *ngIf = "profileDetailForm.controls['passportNo'].value">
            <ion-input type="text" formControlName="passportNo" placeholder="Passport No" readonly></ion-input>
          </ion-item> 
        </div>

        <div class="form-btn">
          <button ion-button class="button-red" type="submit" (click)="UpdateProfileDetails()">Update Details</button>
        </div>
      </form>
    </accordion-group>

    <accordion-group>
      <accordion-heading (click)="changeSubmit()">
        <p><span>Contact Details</span><ion-icon name="ios-arrow-down"></ion-icon></p>
      </accordion-heading>
      <form [formGroup]="contactDetailsForm">
        <div class="input-box">
          <ion-item>
            <ion-input type="email" formControlName="email" placeholder="Email Address"></ion-input>          
          </ion-item> 
          <error [formCtrl]="contactDetailsForm.get('email')" [submitted]="formSubmitted"></error>

          <ion-item>
            <ion-input type="tel" formControlName="cellNumber" placeholder="Cell Number" minlength="10" maxlength="10"></ion-input>           
          </ion-item>
          <error [formCtrl]="contactDetailsForm.get('cellNumber')" [submitted]="formSubmitted"></error>

          <ion-item>
            <ion-input type="tel" formControlName="workNumber" placeholder="Telephone(W)" minlength="10" maxlength="10"></ion-input>           
          </ion-item>
          <error [formCtrl]="contactDetailsForm.get('workNumber')" [submitted]="formSubmitted"></error>
    
          <ion-item>
            <ion-input type="tel" formControlName="homeNumber" placeholder="Telephone(H)" minlength="10" maxlength="10"></ion-input>           
          </ion-item>
          <error [formCtrl]="contactDetailsForm.get('homeNumber')" [submitted]="formSubmitted"></error>
        </div>

        <div class="form-btn">
          <button ion-button class="button-red" type="submit" (click)="UpdateContactDetails()">Update Details</button>
        </div>
      </form>
    </accordion-group>

    <accordion-group>
      <accordion-heading (click)="changeSubmit()">
        <p><span>Postal Address</span><ion-icon name="ios-arrow-down"></ion-icon></p>
      </accordion-heading>
      <form [formGroup]="postalAddressForm">
        <div class="input-box">

          <ion-item>
            <ion-input type="text" formControlName="addressLine1" placeholder="Address Line 1"></ion-input>           
          </ion-item> 
          <error [formCtrl]="postalAddressForm.get('addressLine1')" [submitted]="formSubmitted"></error>

          <ion-item>
            <ion-input type="text" formControlName="addressLine2" placeholder="Address Line 2"></ion-input>            
          </ion-item>
          <error [formCtrl]="postalAddressForm.get('addressLine2')" [submitted]="formSubmitted"></error>

          <ion-item>
            <ion-input type="text" formControlName="addressLine3" placeholder="Address Line 3"></ion-input>            
          </ion-item>
          <error [formCtrl]="postalAddressForm.get('addressLine3')" [submitted]="formSubmitted"></error>

          <div>
            <lookup [entities]="postCodeDesc" formControlName="Suburb" [placeholder]="'Select Suburb'" [label]="['Suburb','City','Code']" (dataFn)="getPostCodeData($event)"></lookup>          
            <error [formCtrl]="postalAddressForm.get('Suburb')" [submitted]="formSubmitted"></error>
          </div>

        </div>
          
        <div class="form-btn">
          <button ion-button class="button-red" type="submit" (click)="UpdatepostalAddress()">Update Details</button>
        </div>
      </form>
    </accordion-group>
  </accordion>

  <accordion *ngIf = "view == 'account'"  class="box">
    <accordion-group>
      <accordion-heading (click)="changeSubmit()">
        <p><span>OTP Preferences</span><ion-icon name="ios-arrow-down"></ion-icon></p>
      </accordion-heading>
      <h2>Your OTP will be sent to the contact details below.</h2>
      <p>If it has changed, update it here.</p>
      <form [formGroup]="OTPpreferencesForm">
        <div class="input-box">
          <ion-item>
            <ion-input type="tel" formControlName="textMessageOTPDestination" placeholder="Cell Number" minlength="10" maxlength="10"></ion-input>           
          </ion-item>
          <error [formCtrl]="OTPpreferencesForm.get('textMessageOTPDestination')" [submitted]="formSubmitted"></error>

          <ion-item>
            <ion-input type="email" formControlName="emailMessageOTPDestination" placeholder="Email Address"></ion-input>            
          </ion-item> 
          <error [formCtrl]="OTPpreferencesForm.get('emailMessageOTPDestination')" [submitted]="formSubmitted"></error>
        </div>

        <div class="form-btn">
          <button ion-button class="button-red" type="submit" (click)="UpdateOTPDetail()">Update Security</button>
        </div>
      </form>
    </accordion-group>

    <accordion-group>
      <accordion-heading (click)="changeSubmit()">
        <p><span>Login Details</span><ion-icon name="ios-arrow-down"></ion-icon></p>
      </accordion-heading>
      <h2>Create a password for your next login.</h2>
      <p>For your next login either use your ID number and new password or the OTP.</p>
      <div class="input-box">
        <div *ngIf = "userDetail?.identificationNo" class="input-field">
          {{userDetail?.identificationNo}}
        </div>

        <div *ngIf = "userDetail?.passportNo" class="input-field">
          {{userDetail?.passportNo}}
        </div>

        <form [formGroup]="loginDetailForm">

          <ion-item>
            <ion-input type="{{oldpasswordType}}" formControlName="oldPassword" placeholder="Current Password"></ion-input>
            <button class="show-pwd" button type="button" item-right (click)="showPassword('oldpasswordType')"><ion-icon name="{{oldpasswordType == 'password' ? 'eye-off' : 'eye'}}"></ion-icon></button>            
          </ion-item> 
          <error [formCtrl]="loginDetailForm.get('oldPassword')" [submitted]="formSubmitted"></error>

          <ion-item>
            <ion-input type="{{passwordType}}" formControlName="newPassword" placeholder="New Password"></ion-input>
            <button class="show-pwd" button type="button" item-right (click)="showPassword('passwordType')"><ion-icon name="{{passwordType == 'password' ? 'eye-off' : 'eye'}}"></ion-icon></button>            
          </ion-item> 
          <error [formCtrl]="loginDetailForm.get('newPassword')" [submitted]="formSubmitted"></error>
      
          <ion-item>
            <ion-input type="{{confirmPasswordType}}" formControlName="confirmPassword" placeholder="Confirm New Password"></ion-input>
            <button class="show-pwd" button type="button" item-right (click)="showPassword('confirmPasswordType')"><ion-icon name="{{confirmPasswordType == 'password' ? 'eye-off' : 'eye'}}"></ion-icon></button>            
          </ion-item> 
          <error [formCtrl]="loginDetailForm.get('confirmPassword')" [submitted]="formSubmitted"></error>
        
          <div class="form-btn">
            <button ion-button class="button-red" type="submit" (click)="UpdateChangePassword()">Update Security</button>
          </div>
        </form>
      </div>
    </accordion-group>
    
  </accordion>
</ion-content>
