<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start"> 
      <ion-icon name="ios-arrow-back" routerLink="/quoteresult" [queryParams]="{planID: quotePlan.planID, planType:quotePlan.planType}"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end"> 
      <ion-icon name="ios-home" routerLink="/home"></ion-icon>
    </ion-buttons>
    <ion-title>Your Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="add-cart-wrap">
    <div *ngIf = "cartDetails.length == 0" class="empty-cart">
      <img src = "assets/icon/empty-cart.png">
      <h4>Cart is Empty..!!!</h4>
      <p>Looks like you have no items in your cart back to Quote and Select the Plan.</p>
      <span></span>
    </div>
    <p class="cart-text" *ngIf = "cartDetails.length > 0">You have added the following to your cart</p>

    <div class="car-detail-cart-wrap" *ngFor = "let item of cartDetails">
      <div>
        <h3>{{item?.OfferDescription}}
          <ion-icon name="close" class="close-cart" (click)="removeCart(item.ID)"></ion-icon>
        </h3>
      </div>
      
      <div class="radio-group">
        <label class="container">
          <input id="quote_payment" type="checkbox" name="quote-payment-mode-option" [(ngModel)]="item.monthly" (ngModelChange)="quotePaymentMonthly()" [disabled]="item.monthly == true">
          R {{item?.MonthlyTotalCostVAT}} per month X {{item?.PaymentTerm}}
          <span class="checkmark"></span>
          <p>*Your policy is active and your benefits will be available 4 months after first successful debit order.</p>
        </label>

        <label class="container" *ngIf = "item.PinkBoxPlanTypeId != 'df99ec60-c075-4a60-a3f1-97531f84bb47'">
          <input id="quote-payment" type="checkbox" name="quote-payment-mode-option" [(ngModel)]="item.yearly" (ngModelChange)="quotePaymentYearly()" [disabled]="item.yearly == true">
          R {{item.TotalCostVAT}} once off*
          <span class="checkmark"></span>
          <p>*Your policy is active and your benefits will be available 30 days after payment was received.</p>
        </label>
      </div>  

      <div class="terms-condition-wrap">
        <input type="checkbox" [(ngModel)]="item.termcondition" (ngModelChange)="quoteTermCondi()"> 
        I have read product benefits & terms and conditions as per the <a [routerLink]="['/termsconditions']" [queryParams]="{PlanID: item.PinkBoxPlanTypeId}">Terms & Conditions</a>
      </div>
    </div>
    
    <div *ngIf= "totalCost && cartDetails.length > 0">
      <div class="cart-total-wrap">
        <h2 *ngIf = "totalCost"><span>Your Total</span> <span>R {{totalCost}}</span></h2>
      </div>
    </div>
    
    <div class="form-btn" *ngIf = "cartDetails.length > 0">
      <p>*For Proceed to Checkout must be Selected any Plan and Terms & Conditions</p>
      <button class="button-red" [disabled]="!planselected || !selectTermCondi" ion-button (click)="submit()">Proceed to Checkout</button>
      <h2 text-center>100% Secure Guaranteed.</h2>
    </div>
  </div>
</ion-content>
