h3 {
    font-size: 20px;
}

h2 {
    font-size: 16px;
}

.close-cart {    
    position: absolute;
    right: -10px;
    top: 5px;
    font-size: 30px;
}

.add-cart-wrap {

    .empty-cart {
        text-align: center;
        img{
            margin-top: 100px;
            width: 40%;
            margin-bottom: 10px;
        }
        h4{
            font-size: 18px;
            color: #009ec7;
            font-family: 'BPreplay';
            font-weight: bold;
            margin-bottom: 5px;
        }
        p{
            font-size: 14px;
            color: #707277;
            margin-top:0px;
        }
    }
    
    // h1 {
    //     background-color: #0f9ac3;
    //     color: #ffffff;
    //     margin: 0 -16px;
    //     padding: 10px 15px;
    //     font-size: 20px;
        
    //     ion-icon {
    //         vertical-align: middle;
    //         font-size: 24px
    //     }
    // }

    .cart-text {
        border-bottom: 1px solid #ccc;
        padding-bottom: 5px;
    }

    .car-detail-cart-wrap {
        box-shadow: 0px 0px 5px rgba(0,0,0,.2);
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;

        .radio-group {
            margin-top: 10px;
            margin-bottom: 0;
    
            .container {
                margin-right: 0;
                border-bottom: 1px solid #ccc;
                font-size: 16px;
    
                p {
                    margin: 5px 0 8px;
                }
            }
        }
    
        .terms-condition-wrap {
            color: #505050;
            font-size: 13px;
            line-height: 20px;

            a {
                font-weight: 700;
                color: #707277;
            }
        }
    }

    .cart-total-wrap {
        box-shadow: 0px 0px 5px rgba(0,0,0,.2);
        padding: 10px;
        border-radius: 4px;

        h2 {
            padding: 0;

            span {
                &:last-child {
                    float: right;
                }
            }
        }
    }

    .form-btn {
        margin-bottom: 10px;
    }
}

.button-red { 
    width: auto;
    margin-bottom: 5px;
}