h1.planquote-title {
    font-size: 16px;
    color: #707277;
    font-weight: 500;
}

h1.planquote-title span {
    font-size: 18px;
    color: #0f9ac3;
    font-weight: 600;
}

h2 {
    font-size: 18px;
}

.inputbox {
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    width: 100%;
    display: block;
    padding: 15px;
    // margin-bottom: 10px;
}

.autocomplete input {
    border: none;
    padding: 15px;
    width: 100%;
    font-size: 14px;
}

ion-item, ion-input {
    z-index: 0;
}

.box-quote p {
    line-height: normal;
}