<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="ios-arrow-back" routerLink="/getquote"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="ios-home" routerLink="/home"></ion-icon>
    </ion-buttons>
    <ion-title>{{quotePlan?.planType}} Quote</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding [scrollEvents]="true">
  <div>
    <h1 class="planquote-title">Enter your details below for an instant <span>{{quotePlan?.planType}}</span> quote:</h1>
    <div class="input-box">
      <h2>Your Car details</h2>
      <form [formGroup]="quoteForm">

        <ion-item>
          <ion-input type="text" formControlName="MHRegistrationNo" placeholder="Vehicle Registration No"></ion-input>      
        </ion-item> 
        <error [formCtrl]="quoteForm.get('MHRegistrationNo')" [submitted]="formSubmitted"></error>

        <ion-item>
          <ion-datetime type="date" formControlName="MHDateOfFirstRegistration" (click)="vehicleRegisterYear()" placeholder="Vehicle Registration Year" displayFormat='MMMM YYYY' min="2004" class="title-option"></ion-datetime>           
        </ion-item>
        <error [formCtrl]="quoteForm.get('MHDateOfFirstRegistration')" [submitted]="formSubmitted"></error>

        <div class="inputarea">
          <input placeholder="Vehicle Make" autocomplete formControlName="MHMake" [items]="vehicleMake" [config]="configMake" (selectEvent)="onSelectMake($event)" (focus)="logScrolling()">
          <error [formCtrl]="quoteForm.get('MHMake')" [submitted]="formSubmitted" ></error>
        </div>

        <div class="inputarea">
          <input placeholder="Vehicle Model" autocomplete formControlName="MHModel" [items]="vehicleModel" [config]="configModel" (selectEvent)="onSelectModel($event)" (focus)="logScrolling()">
          <error [formCtrl]="quoteForm.get('MHModel')" [submitted]="formSubmitted"></error>
        </div>
        
        <ion-item>
          <ion-input type="number" formControlName="MHCurrentKilometers" (ngModelChange)="lastServiceDone($event)" pattern="[0-9]*" required placeholder="Current Kilometers" [disabled]="!quoteForm.controls['MHModel'].value"></ion-input>      
        </ion-item> 
        <error [formCtrl]="quoteForm.get('MHCurrentKilometers')" [submitted]="formSubmitted"></error>

        <ion-item>
          <ion-select formControlName="MHLastServiceDoneKilometer" (ngModelChange)="lastServiceList()" placeholder="{{quoteForm.controls['MHLastServiceDoneKilometer'].value || 'Select Last Service Done Km'}}" class="title-option">
            <ion-select-option *ngFor = "let item of serviceDoneKm" [value]="item.LastServiceDone">{{item?.LastServiceDone}}</ion-select-option>
          </ion-select>
        </ion-item>
        <error [formCtrl]="quoteForm.get('MHLastServiceDoneKilometer')" [submitted]="formSubmitted"></error>

        <ion-item>
          <ion-input type="number" formControlName="MHAverageMileagePerAnnum" (ngModelChange)="AverageMileage($event)" pattern="[0-9]*" required placeholder="Average Mileage Per Annum" [disabled]="!quoteForm.controls['MHLastServiceDoneKilometer'].value"></ion-input>      
        </ion-item> 
        <error [formCtrl]="quoteForm.get('MHAverageMileagePerAnnum')" [submitted]="formSubmitted"></error>

        <ion-item>
          <ion-select formControlName="MHStartKilometers" placeholder="{{quoteForm.controls['MHStartKilometers'].value || 'Vehicle Start Kilometers'}}" class="title-option" [disabled]="!quoteForm.controls['MHAverageMileagePerAnnum'].value">
            <ion-select-option *ngFor = "let item of startKm" [value]="item.Key">{{item?.Value}}</ion-select-option>
          </ion-select>
        </ion-item>
        <error [formCtrl]="quoteForm.get('MHStartKilometers')" [submitted]="formSubmitted"></error>

        <div class="form-btn">
          <button class="button-red" ion-button (click)="submit()">Submit</button>
        </div>
      </form>
    </div>
  </div>

</ion-content>
