@import "fonts";

@font-face {
  font-family: 'BPreplay';
  src: url('../fonts/BPreplay.eot');
  src: url('../fonts/BPreplay.eot?#iefix') format('embedded-opentype'),
      url('../fonts/BPreplay.woff') format('woff'),
      url('../fonts/BPreplay.ttf') format('truetype'),
      url('../fonts/BPreplay.svg#BPreplay') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BPreplay';
  src: url('../fonts/BPreplay-Bold.eot');
  src: url('../fonts/BPreplay-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/BPreplay-Bold.woff') format('woff'),
      url('../fonts/BPreplay-Bold.ttf') format('truetype'),
      url('../fonts/BPreplay-Bold.svg#BPreplay-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'BPreplay';
  src: url('../fonts/BPreplay-BoldItalic.eot');
  src: url('../fonts/BPreplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/BPreplay-BoldItalic.woff') format('woff'),
      url('../fonts/BPreplay-BoldItalic.ttf') format('truetype'),
      url('../fonts/BPreplay-BoldItalic.svg#BPreplay-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'BPreplay';
  src: url('../fonts/BPreplay-Italic.eot');
  src: url('../fonts/BPreplay-Italic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/BPreplay-Italic.woff') format('woff'),
      url('../fonts/BPreplay-Italic.ttf') format('truetype'),
      url('../fonts/BPreplay-Italic.svg#BPreplay-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}

/** Conv_Nunito-ExtraLight **/
@font-face {
	font-family: 'Nunito';
	src: url('../fonts/Nunito-ExtraLight.eot');
	src: local('☺'), url('../fonts/Nunito-ExtraLight.woff') format('woff'), url('../fonts/Nunito-ExtraLight.ttf') format('truetype'), url('../fonts/Nunito-ExtraLight.svg') format('svg');
	font-weight: 100;
	font-style: normal;}

/** Conv_Nunito-Light **/
@font-face {
	font-family: 'Nunito';
	src: url('../fonts/Nunito-Light.eot');
	src: local('☺'), url('../fonts/Nunito-Light.woff') format('woff'), url('../fonts/Nunito-Light.ttf') format('truetype'), url('../fonts/Nunito-Light.svg') format('svg');
	font-weight: 200;
	font-style: normal;}

/** Conv_Nunito-Medium **/
@font-face {
	font-family: 'Nunito';
	src: url('../fonts/Nunito-Medium.eot');
	src: local('☺'), url('../fonts/Nunito-Medium.woff') format('woff'), url('../fonts/Nunito-Medium.ttf') format('truetype'), url('../fonts/Nunito-Medium.svg') format('svg');
	font-weight: 300;
	font-style: normal;}

/** Conv_Nunito-Regular **/
@font-face {
	font-family: 'Nunito';
	src: url('../fonts/Nunito-Regular.eot');
	src: local('☺'), url('../fonts/Nunito-Regular.woff') format('woff'), url('../fonts/Nunito-Regular.ttf') format('truetype'), url('../fonts/Nunito-Regular.svg') format('svg');
	font-weight: 500;
	font-style: normal;}

/** Conv_Nunito-SemiBold **/
@font-face {
	font-family: 'Nunito';
	src: url('../fonts/Nunito-SemiBold.eot');
	src: local('☺'), url('../fonts/Nunito-SemiBold.woff') format('woff'), url('../fonts/Nunito-SemiBold.ttf') format('truetype'), url('../fonts/Nunito-SemiBold.svg') format('svg');
	font-weight: bold;
	font-style: normal;}

/** Nunito-Bold **/
@font-face {
	font-family: 'Nunito';
	src: url('../fonts/Nunito-Bold.eot');
	src: local('☺'), url('../fonts/Nunito-Bold.woff') format('woff'), url('../fonts/Nunito-Bold.ttf') format('truetype'), url('../fonts/Nunito-Bold.svg') format('svg');
	font-weight: 600;
	font-style: normal;}

/** Nunito-Black **/
@font-face {
	font-family: 'Nunito';
	src: url('../fonts/Nunito-Black.eot');
	src: local('☺'), url('../fonts/Nunito-Black.woff') format('woff'), url('../fonts/Nunito-Black.ttf') format('truetype'), url('../fonts/Nunito-Black.svg') format('svg');
	font-weight: 700	;
	font-style: normal;}

/** Nunito-ExtraBold **/
@font-face {
	font-family: 'Nunito';
	src: url('../fonts/Nunito-ExtraBold.eot');
	src: local('☺'), url('../fonts/Nunito-ExtraBold.woff') format('woff'), url('../fonts/Nunito-ExtraBold.ttf') format('truetype'), url('../fonts/Nunito-ExtraBold.svg') format('svg');
	font-weight:800 ;
	font-style: normal;	}

.font-bp-replay {
  font-family: 'BPreplay';
}

body, body p  {
  font-family: 'BPreplay';
  color: #707277;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: 0;
}

h1, h2, h3, h4 {
  margin:0;
  padding:4px 0;
  display:block;
  position:relative;
  font-size:37px;
  color: #0f9ac3;
  font-weight:bold;
  font-family: 'BPreplay';
  font-style: italic;
}

.clearfix {
  clear: both;
}

.pt-0 {
 padding-top: 0;
}
.pb-0 {
  padding-bottom: 0;
}
.pl-0 {
  padding-left: 0;
}
.pr-0 {
  padding-right: 0;
}

/*h1 red text*/
.user-name {
  color: #db455c;
}

/*border bottom */
.hr{
  border-bottom: 1px solid #dedede;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/*title style*/
ion-header ion-title {
  /* padding-left: 60px; */
  text-align: left;
}

ion-title {
  color: #ffffff;
  font-family: 'BPreplay';
  font-weight: 400;
}

/*full page background*/
ion-content.page-graybg  {
  --background: #efefef;
}

ion-toolbar {
  --background: #db455c;
  color: #ffffff;
}

/*Input Box success Line remove*/
ion-item { 
  --border-width: 0 0 0px 0;
  --show-full-highlight: 0;
  --show-inset-highlight: 0;
}

/*button center*/
.button-center {
  text-align: center;
}

/*button div*/
.form-btn{
  text-align: center;
  margin: 20px 0;
}

/* error message red */
.text-danger {
  color: #f44336;
}

/*sidemenu color*/
.menu-bgcolor {
  --background: linear-gradient(133deg, #f95972 0%, #c51d41 100%) !important;
  --padding-start: 0 !important;
  font-family: 'BPreplay';
}

.menu-bgcolor .item .sc-ion-label-md-h{
  margin-left: 5px;
  font-family: 'BPreplay';
}

.menu-bgcolor ion-item, .menu-bgcolor ion-icon {
  color: #ffffff; 
  --background: transparent;
}

.ion-menu-button {
  --color: var(--ion-color-primary,#ffffff);
}
.menu-bgcolor ion-item ion-icon{
  --display: none !important;
}
.close_menu{
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  text-align: center;
  cursor: pointer;
}

.close_menu ion-icon{
  font-size: 35px;
}

/*Color*/
.red-text{
  color: #db455c;
}

/*Button*/
.button-red {
  background-color: #db455c;
  font-family: 'BPreplay';
  color: #ffffff;
  padding: 15px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  width: 50%;
  text-transform: uppercase;
  outline: 0;
}

.button-red[disabled] {
  background-color: #f68d9e;
}

.button-red.button-auto {
  width: auto;
}

.button-white{
  font-family: 'Nunito';
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  color: #007cab;
  text-transform: uppercase;
  padding: 4px 10px 8px;
  background-color: #ffffff;
  border-radius: 20px;
  border:2px solid #007cab;
  outline: 0;
}

.ios .button-white {
  line-height: normal;
  padding-top: 5px;
  padding-bottom: 5px;
}

.status-button {
  font-family: 'Nunito';
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 13px;
  color: #ffffff;
  text-transform: capitalize;
  padding: 3px 10px 9px;
  border-radius: 20px;
  display: inline-block;
  background-color: #FFBF00;
}

.ios .status-button {
  text-align: center;
  line-height: normal;
  padding: 5px 8px;
}

.divider {
  background-color: #d1d1d1;
  width: 100%;
  height: 1px;
  margin: 10px 0px;
}

.error-msg {
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
}

.err-active-bg {
  background-color: #f1f6cc;
}

.error-msg span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin-right: 5px;
  margin-top: 5px;
  vertical-align: top;
}

.error-msg .err-active,
.bg-success{
  background-color: green;
}

.err-inactive-bg {
  background-color:#fadadf;
}

.error-msg.err-inactive-bg span {
  height: 20px;
  width: 20px;
}

.error-msg .err-inactive img {
  height: 20px;
  width: 20px;
  max-width: initial;  
}

.error-msg p {
  display: inline-block;
  color: #4f5559;
  font-family: 'Nunito';
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  width: 93%;
  margin: -5px 0 0 0;
}

.error-msg.err-inactive-bg p {
  width: 90%; 
}

.service-count {
  background-color: #009bca;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  line-height: 25px;
}

/*show password*/
.show-pwd {
  margin: 5px 0px 0 0 !important;
  font-size: 20px !important;
  background: transparent !important;
  color: #db455c;
  box-shadow: none;
  outline: 0;
}

/*segment option*/
.segment-button {
  border-radius: 20px;
  box-shadow: 0 8px 8px -8px #888888;
  width: 90%;
  margin: auto auto 20px auto; 
}

.segment-button .segment-option:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.segment-button .segment-option:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.segment-option {
  font-family: 'Nunito';
  font-weight: 400;
  font-style: normal;
  background-color: #f7f7f7;
  color: #707277;
  max-width: initial;
  min-height: 38px;
  text-transform: initial;  
  width: 50%;
  --indicator-color-checked: none;
}

.segment-button .segment-option.segment-button-checked {
  background-color: #db455c;
  color: #ffffff;
  --indicator-color-checked: none;
}

/* Radio Button */
.radio-group {
  margin-bottom: 10px;
}

.radio-group .container {
  display: inline-block;
  position: relative;
  padding-left: 22px;
  margin-right: 15px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #707277;
  font-family: 'BPreplay';
  font-size: 15px;
}

/* Hide the browser's default radio button */
.radio-group .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.radio-group .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  border: 2px solid #db455c;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-group .container:hover input ~ .checkmark {
  background-color: #ffffff;
}

/* When the radio button is checked, add a blue background */
.radio-group .container input:checked ~ .checkmark {
  border: 2px solid #db455c;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-group .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-group .container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-group .container .checkmark:after {
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
	border-radius: 50%;
	background: #db455c;
}

/*input field*/
.input-box ion-item {
  border-radius: 5px;
  --inner-border-width: 0;
}

.input-box ion-item.item-input, .input-box ion-item.item-select, .input-box ion-item.item-datetime {
  background-color: rgba(255, 255, 255, 0.4);
  margin-bottom: 10px;
  border: 1px solid #e1e1e1;
}

.input-box ion-item.item-input .label {
  width: 10%;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  font-family: 'BPreplay';
}

.input-box .input-field {
  background-color: rgba(255, 255, 255, 0.4);
  margin-bottom: 10px;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  padding: 15px;
  font-size: 15px;
}

/*router link a*/
.router-link {
  color: #db455c;
  text-decoration: none;
  font-family: 'BPreplay';
  font-size: 15px;
  font-style: normal;
  display: inline-block;
  margin-bottom: 15px;
  text-decoration: none;
}

.display-text p {
  font-family: 'BPreplay';
  font-size: 15px;
  color: #707277;
  font-style: normal;
}

.title-option {
  padding-left: 0px;
  max-width: 100%;
  width: 100%;
}

.card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px 15px;
  margin-bottom: 15px;
}

.card-header {
  font-size: 18px;
  color: #707277;
  font-family: 'Nunito';
  font-weight: 500;
  font-style: normal;
  margin: 0;
  padding-bottom: 10px;
}

/*quote result*/
.box .panel {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px 15px;
  margin-bottom: 15px;
}

.box .panel .panel-heading h4.panel-title {
  color: #707277;
  font-size: inherit;
  position: relative;
}

.box .panel .panel-heading h4.panel-title span{
  font-size: 18px;
  color: #707277;
  font-family: 'Nunito';
  font-weight: 500;
  font-style: normal;
  display: inline-block;
  width: 90%;
}

.box .panel.dropup .panel-heading h4.panel-title, .box .panel.dropup .panel-heading h4.panel-title span {
  color: #db455c;
  margin-bottom: 5px;
}

.box .panel .panel-heading h4.panel-title p{
  margin: 0;
}

.box .panel .panel-heading h4.panel-title ion-icon {
  position: absolute;
  top: 8px;
  right: 0px;
}

.box .panel.dropup .panel-heading h4.panel-title ion-icon {
  color: #db455c;
  transform: rotate(180deg);
}

.box-round .panel{
  border: 1px solid #cccccc;
  border-radius: 10px;
}

.box .panel .panel-heading h4.panel-title ion-icon.edit-icon {
  right: 25px;
  transform: rotate(0deg);
  font-size: 22px;
}

.box-round .panel .panel-heading h4.panel-title ion-icon {
  font-size: 20px;
}

.box-round .panel .panel-body h4, .box-round .panel .panel-body h5{
  font-family: 'Nunito';
  font-weight: 500;
  font-style: normal;
  color: #707277;
  font-size: 16px;
  line-height: 1.4;
  padding: 0;
  margin: 0;
}

/* remove ellipsis from select option */
.alert-radio-label.sc-ion-alert-md,
.alert-radio-label.sc-ion-alert-ios {
  padding: 5px 15px 5px 40px;
  text-overflow: initial;
  white-space: normal;
  overflow: initial;
  line-height: 1.4;
  font-size: 14px;
  height: 100%;
}

.alert-radio-label.sc-ion-alert-ios {
  padding: 10px 0 10px 15px;
}

/* Label */
.label {
  font-size: 16px;
  color: #707277;
  padding-left: 2px;
  margin-bottom: 5px;
  display: block;
}

/* .vehicle-img {
  width: auto !important;
  height: 65px;
} */

.collapse .box .panel {
  background-color: #f7f7f7;
}
.collapse .box .panel .panel-heading h4.panel-title {
  position: relative;
}
.collapse .box .panel .panel-heading h4.panel-title span {
  color: #0f9ac3;
  display: inline-block;
  width: 90%;
}
.collapse .box .panel .panel-heading h4.panel-title ion-icon {
  position: absolute;
  top: 8px;
  right: 0px;
}
.collapse .box .panel.dropup .panel-heading h4.panel-title ion-icon {
  color: #0f9ac3;
}
.collapse .box .panel .sub-collapse .panel{
  padding: 0px 0px;
  margin-bottom: 0px;
}
.collapse .box .panel .sub-collapse .panel .panel-heading h4.panel-title {
  position: relative;
}
.collapse .box .panel .sub-collapse .panel .panel-heading h4.panel-title span {
  font-size: 15px;
  color: #db455c;
  display: inline-block;
  width: 94%;
}
.collapse .box .panel.dropup .sub-collapse .panel .panel-heading h4.panel-title ion-icon {
  font-size: 20px;
  transform: rotate(0deg);
  color: #db455c;
  position: absolute;
  top: 8px;
  right: 0px;
}
.collapse .box .panel.dropup .sub-collapse .panel.dropup .panel-heading h4.panel-title ion-icon {
  transform: rotate(180deg);
  color: #db455c;
}
.collapse .box .panel.dropup .sub-collapse .panel .panel-heading h4.panel-title p {
  margin-top: 2px;
}
.collapse .box .panel.dropup .sub-collapse .panel .panel-body {
  color: #707277;
}
.collapse .box .panel.dropup .sub-collapse .panel .panel-body ul {
  padding: 0;
  margin: 0 0 0 15px;
}

.list2 {
  margin: 0;
  padding: 0;
  font-family: 'Nunito';
  font-weight: 500;
  font-style: normal;
}

.list2 li {
  list-style: none;
  color: #4f5559;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 5px;
  margin-bottom: 5px;
  font-size: 13px;
}

.service-notification {
  background-color: #f5b5c0;
  color: #ffffff;
  padding: 5px;
  font-size: 13px;
  line-height: 15px;
  font-family: 'Nunito';
  font-weight: 500;
  font-style: normal;
  text-align: center;
  margin-top: 10px;
}

.service-notification p {
  color: #ffffff;
  margin: 5px 0px;
}

/*garage include list */
.includ-list {
  margin: 0;
  padding: 0;
}

.includ-list li {
  font-family: 'Nunito';
  font-weight: normal;
  font-style: normal;
  list-style: none;
  color: #4f5559;
  vertical-align: middle;
}

.includ-list li ion-icon {
  font-size: 18px;
  vertical-align: middle;
  font-size: 20px;
  font-family: 'Nunito';
}

.badge-legend {
  display: table;
  width: 100%;
  margin-bottom: 10px;
}

.badge-legend p{
  display: table-cell;
  font-size: 12px;
  
}

.badge-legend span{
  width: 10px;
  height: 10px;
  margin-top: 5px;
  margin-right: 10px;
  vertical-align: top;
  display: inline-block;
}

.badge-legend .success{
  background-color: green;
}

.badge-legend .pending{
  background-color: orange;
}

.quote-tool {
  margin-bottom: 15px;
  font-family: 'Nunito';
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: #4f5559;
  outline: 0;
}

img {
  outline: 0;
}

.box.box-quote .panel .panel-heading h4.panel-title span{
  width: auto;
  vertical-align: super;
}

.box.box-quote .panel .panel-heading h4.panel-title ion-icon.edit-icon{
  position: initial;
  padding-left: 5px;
}

.quote-plan-box{
  background-color: #e6e7e8;
  padding: 10px;
  margin-bottom: 16px;
  box-shadow: 0px 0px 5px rgba(0,0,0,.2);
}

.plan_price{
  background-color: #e54661;
  padding: 10px;
  color: #ffffff;
}

.plan_price p{
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  margin: 0;
}

.plan_price p span{
  font-family: 'BPreplay';
  font-weight: normal;
  font-style: normal;
}

.car-ins-box .panel{
  background-color: #f7f7f7;
}

.car-ins-box .panel .panel-heading h4.panel-title ion-icon {
  top: 10px;
  font-size: 20px;
}

.thankyou-text{
  padding: 15px 0 0 0;
}

.thankyou-text h1 {
  font-size: 24px;
}

.thankyou-text p {
  font-size: 16px;
  margin: 10px 0; 
}

.thankyou-text span{
  font-size: 16px;
  display: inline-block;
  margin-bottom: 20px;
  line-height: 20px;
}

.thankyou-text span ion-icon{
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
}

.inputarea > div{
  display: block !important;
}

.autocomplete input{
  padding: 15px;
  width: 100%;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  height: 48px;
}

.inputarea > div > input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  padding: 15px;
  font-size: 16px;
  margin-bottom: 10px;
  height: 48px;
}

.autocomplete ul {
  z-index: 9999 !important;
  height: 150px;
  overflow: auto;
}

.autocomplete ul li {
  padding-left: 15px !important;
}

.autocomplete ul li.active {
  background: #db455c !important;
  color: #ffffff !important;
}

input:focus {
  outline: 0;
}

::placeholder {
  color: #808080;
  opacity: 1;
}  

:-ms-input-placeholder {
  color: #808080;
}  

::-ms-input-placeholder {
  color: #808080;
}

ion-buttons{
  padding-right: 10px;
}

ion-buttons ion-icon {
  font-size: 24px;
  color:#ffffff !important;
  outline:0;
}

.inputarea > div > input:disabled {
  opacity: 0.5;
  background: transparent;
  border: 1px solid #d1d1d1
}

.loading-bubbles ion-spinner {
  color: #db455c;
  font-size: 16px;
}

/*Instasearch Refinemanet list count*/
.ais-RefinementList-count {
  margin-left: 5px;
  position: relative;
  vertical-align: middle;
  top:-3px;
}

.ais-RefinementList-count:after,
.ais-RefinementList-count:before {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}

.ais-RefinementList-count:before {
  content: "(";
  left: -4px;  
}

.ais-RefinementList-count:after {
  content: ")";
  right: auto;  
}

/* Instance Search */
.ma-accordion-search > .panel-group {
  background-color: #009ec7;
  padding: 0 15px;
}

.ma-accordion-search .ma-title-search {
  display: block;
}

.ma-accordion-search .ma-title-search span {
  font-size: 16px;
  font-family: 'BPreplay';
  font-weight: bold;
  font-style: italic;
  color: #ffffff;
  vertical-align: middle;
  padding-left: 15px;
}

.ma-accordion-search .ma-title-search img,
.ma-accordion-search .ais-RefinementList ul li .ais-RefinementList-checkbox {
  vertical-align: middle;
}

.ma-accordion-search .ma-title-search > p {
  position: relative;
}

.ma-accordion-search .ma-title-search ion-icon,
.ma-accordion-search .ma-body-accordion accordion-heading > p ion-icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 20px;
}

.ma-accordion-search .dropup .ma-title-search ion-icon,
.ma-accordion-search .ma-body-accordion .dropup accordion-heading > p ion-icon {
  transform: translateY(-50%) rotate(180deg);
}

.ma-body-accordion {
  margin-bottom: 8px;
  display: block;
}

.ma-accordion-search .ma-body-accordion accordion-heading > p {
  margin: 0;
  font-size: 14px;
  color: #707277;
  background-color: #ffffff;
  position: relative;
  padding: 10px 12px;
}

.ma-accordion-search .ma-body-accordion accordion-heading > p ion-icon {
  color: #707277;
  font-size: 14px;
  right: 15px;
}

.ma-accordion-search .ma-body-accordion accordion-group .panel-title {
  height: 45px;
}

.ma-accordion-search .ais-RefinementList ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ma-accordion-search .ais-RefinementList ul li {
  padding: 9px 12px;
  border-bottom: 1px solid #dddddd;
  background: #fff;
}

.ma-accordion-search .ais-RefinementList ul li .ais-RefinementList-label {
  margin: 0;
  font-size: 15px;
  vertical-align: middle;
  color: #707277;
  text-transform: capitalize;
  font-family: 'Nunito';
  font-weight: 200;
}

.ma-accordion-search .ais-RefinementList ul li .ais-RefinementList-labelText {
  padding-left: 5px;
  vertical-align: middle;
  position: relative;
  top: -3px;
}

.ma-accordion-search .ais-ClearRefinements-button {
  background: transparent !important;
  color: #fff;
  font-size: 14px;
  font-style: italic;
  display: block;
  margin-left: auto;
  padding: 10px 0 15px;
}

.ma-accordion-search .ma-mileage {
  background-color: #fff;
  display: block;
  padding: 10px;
}

.ma-accordion-search .ma-mileage .ais-RangeInput-label span {
  display: block;
  color: #009ec7;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.ma-accordion-search .ma-mileage .ais-RangeInput-separator {
  display: block;
  margin: 5px auto 0;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: #707277;
}

.ma-accordion-search .ma-mileage input[type="number"] {
  width: 100%;
  height: 30px;
  border: 1px solid #707277;
  padding: 2px;
}

.ma-accordion-search .ma-mileage .ais-RangeInput-submit {
  background-color: #b3ce35;
  border-radius: 4px;
  color: #fff;
  padding: 10px 20px;
  font-size: 13px;
  text-transform: uppercase;
  font-family: 'BPreplay';
  font-weight: bold;
  font-style: italic;
  box-shadow: 0 2px 0 #82ac41;
  margin-top: 10px;
  outline: 0;
}

.ais-Pagination-list {
  text-align: center;
  list-style: none;
  margin:0 0 30px;
  padding:0;
}

.ais-Pagination-list .ais-Pagination-item--disabled {
  visibility: hidden;
}

.ais-Pagination-list .ais-pagination-item {
    display: inline-block;
    padding: 3px;
}

.ais-Pagination-item {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
}

.ais-Pagination-list .ais-Pagination-item a {
  display: block;
  width: 34px;
  height: 34px;
  padding: 0;
  background-color: #009ec7;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  line-height: 35px;
  font-family: 'BPreplay';
  font-weight: bold;
  font-style: italic;
}

.ais-Pagination-list .ais-Pagination-item--selected a {
  background-color: #b3ce35;
}

.ais-Pagination-item.ais-Pagination-item--firstPage.ais-Pagination-item--disabled a,
.ais-Pagination-item.ais-Pagination-item--previousPage.ais-Pagination-item--disabled a {
  height: 0;
  width: 0;
}

.ais-Pagination-item.ais-Pagination-item--firstPage a,
.ais-Pagination-item.ais-Pagination-item--previousPage a,
.ais-Pagination-item.ais-Pagination-item--nextPage a {
  background-color: #dddddd;
  color: #009ec7;
}

/* iOS Style */
.ios .segment-option {
  border: 0;
}

/* warranty text */
.warranty_notes p {
  color: #e54661;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 0px;
}

/*Find car Design */
.car-list-header{
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.car-list-header h1{
  font-size: 24px;
  color: #4f5559;
}

.car-list-header ais-stats{
  font-size: 18px;
  color: #db455c;
}

.price{
  background-color: #009ec7;
  position: relative;
  min-width: 90px;
  padding: 10px;
  font-size: 14px;
  color: #fff;
  font-family: 'BPreplay';
  font-weight: bold;
  text-align: right;
  width: 25%;
  margin: auto 0 auto auto;
}

.price::before {
  background-color: #009ec7;
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: -14px;
  height: 100%;
  width: 22px;
  -webkit-transform: skew(-23deg, 0deg);
  transform: skew(-23deg, 0deg);
}

.car-name{
  font-size: 18px;
  color: #009ec7;
  font-family: 'BPreplay';
  font-weight: bold;
  margin: 0;
}

.car-item-feature{
  font-family: 'Nunito';
  font-weight: 500;
  font-style: normal;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.car-item-feature .car-label{
  font-size: 10px;
  text-transform: uppercase;
  color: #888888;
}

.car-item-feature .car-detail{
  font-size: 13px;
  text-transform: uppercase;
  color: #707277;
}

.car-item-icon{
  color: #888888;
  margin-right: 5px;
  vertical-align: text-top;
  display: inline-block;
  text-align: center;
  margin-right: 5px;
  min-width: 23px;
}

/* find car loader */
.loading-ios .loading-wrapper {
  background-color: transparent !important;
  color : #db475e;
  display: inline-block;
}

.loading-md .loading-wrapper {
  background-color: transparent !important;
  color : #db475e;
  display: inline-block;
  box-shadow: none;
}

/*cart count*/
.cart-icon {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -3px;
  right: 10px;
  background-color: #0f9ac3;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  z-index: 1;
  font-size: 14px;
  box-shadow: -6px 6px 8px -6px rgba(0,0,0,0.3);
}

.cart-icon ion-icon {
  font-size: 26px;
  margin-right: 10px;
}

.form-fix-btn {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
  left: 0;
  right: 0;
}

.form-fix-btn .button-red {
  width: 100%;
  border-radius: 0;
  background-color: #0f9ac3
}

/*API Error Messages*/
.alert-error-msg ion-backdrop {
  opacity: 0 !important; 
}
.alert-error-msg .alert-wrapper {
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: 0 10px;
  max-width: 100%!important;
  background: #f2dedf;
  border-radius: 6px;
}
.alert-error-msg .alert-head,
.alert-error-msg .alert-button-group {
  padding: 0;
}
.alert-error-msg .alert-message {
  padding: 10px !important;
  color: #935758;
  font-size: 13px;
  text-align: left;
}