<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="ios-arrow-back" routerLink="/getquote"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="ios-home" routerLink="/home"></ion-icon>
    </ion-buttons>
    <ion-title>Car Insurance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="car_insurance">
  <div *ngIf = "!callDetail">
    <h1>Find the most suitable car insurance quote</h1>
    <h2>We Offer</h2>
    <div class="list3">    
      <ul>
        <li>We cover all car brands </li>
        <li>Reputable panel of insurancers </li>
        <li>Home insurance quote also available</li>
        <li>Save time! Get accurate quotes quickly </li>
        <li>Advice you can trust </li>
        <li><h2>Your car is covered for :</h2>
          <ol>
            <li>Theft and hijacking </li>
            <li>Accident damage </li>
            <li>Accidental damage </li>
            <li>Third party damages</li>
          </ol>
        </li>
      </ul>
    </div>  
    <accordion class="box car-ins-box" [expandAll]="true">
      <accordion-group>
        <accordion-heading>
          <p><span>Have one of our trained consultants call you</span>
            <ion-icon name="ios-arrow-down"></ion-icon>
          </p>
        </accordion-heading>
        <form [formGroup]="insuranceForm" class="input-box"> 
          <ion-item>
            <ion-input type="text" formControlName="leadFirstName" placeholder="Name"></ion-input>      
          </ion-item> 
          <error [formCtrl]="insuranceForm.get('leadFirstName')" [submitted]="formSubmitted"></error>

          <ion-item>
            <ion-input type="text" formControlName="leadEmailId" placeholder="Email"></ion-input>      
          </ion-item> 
          <error [formCtrl]="insuranceForm.get('leadEmailId')" [submitted]="formSubmitted"></error>

          <ion-item>
            <ion-input type="tel" formControlName="leadContactNumber" placeholder="Telephone" minlength="10" maxlength="10"></ion-input>      
          </ion-item> 
          <error [formCtrl]="insuranceForm.get('leadContactNumber')" [submitted]="formSubmitted"></error>

          <ion-item>
            <ion-datetime type="date" formControlName="leadYear" (ngModelChange)="vehicleRegisterYear($event)" placeholder="Year" displayFormat='YYYY' min="2006" [max]="maxDateString()" class="title-option"></ion-datetime>           
          </ion-item>
          <error [formCtrl]="insuranceForm.get('leadYear')" [submitted]="formSubmitted"></error>

          <div class="inputarea">
            <input placeholder="Vehicle Make" autocomplete formControlName="leadMake" [items]="vehicleMake" [config]="config" 
              (selectEvent)="onSelectMake($event)" (focus)="logScrolling()">
            <error [formCtrl]="insuranceForm.get('leadMake')" [submitted]="formSubmitted" ></error>
          </div>

          <div class="inputarea">
            <input placeholder="Vehicle Model" autocomplete formControlName="leadModel" [items]="Model" [config]="config2" 
              (selectEvent)="onSelectModel($event)" (focus)="logScrolling()">
            <error [formCtrl]="insuranceForm.get('leadModel')" [submitted]="formSubmitted"></error>
          </div>

          <div class="form-btn">
            <button class="button-red" ion-button (click)="submit()">Let's Chat</button>
          </div>
        </form>
      </accordion-group>
    </accordion>
  </div>

  <div *ngIf = "callDetail">
    <div class="thankyou-text">   
      <div text-center>
        <h1>Thank You for your enquiry</h1>
        <p>You can expect a call from us from the following number:</p>
        <h1>086 164 2779</h1>
      </div>
      <div class="form-btn">
        <button ion-button class="button-red button-auto" type="submit" (click)="backtoQuote()">Back to Car Insurance</button>
      </div>
    </div>
  </div>
</ion-content>
