h1 {
    font-size: 20px;
}

h2 {
    font-size: 16px;
}

.car_insurance h1{
    color: #b8d334;
}

.list3 ol {
    margin: 0px;
    padding: 0;
}

.list3 ul {
    margin: 0px 0 15px;
    padding: 0;
}

.list3 ul li {
    font-family: 'Nunito';
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: #a2a2a2;
    list-style: none;
    position: relative;
    padding-left: 25px;
    margin-bottom: 5px;
}

.list3 ul li:before{
    content: "";
    background-image: url(../../../../assets/icon/tick-green.svg);
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-position: left top;
    width: 17px;
    height: 15px;
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 0;
}

.list3 ul li ol li {
    list-style-type: disc;
    padding-left: 0;
    list-style-position: outside;
    margin-left: 15px;
}
.list3 ul li ol li:before {
    content: initial;
    position: initial;
}
.car_insurance .thankyou-text h1{
    color: #009ec7;
}
