<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Disconnected</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content padding >
  <div text-center class="network-disconnect">
    <img src="assets/img/network-disconnect.png">
    <h1 class="text-blue">Whoops!!</h1>
    <h3>No Internet connection found. Check your connection or try again.</h3>
  </div>
</ion-content>
