.network-disconnect  {
    padding: 100px 0 0;
}

.network-disconnect h1 {
    font-size:30px;
    color: #0f9ac3;
    font-weight:bold;
    font-family: 'BPreplay';
    font-style: normal;
}

.network-disconnect h3 {
    font-family: 'Nunito';
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: #4f5559;
}