<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf = "!showBankDetails"> 
      <ion-icon name="ios-arrow-back" routerLink="/cartpaymentdetail"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="start" *ngIf = "showBankDetails"> 
      <ion-icon name="ios-arrow-back" routerLink="/getquote"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf = "cartDetails.length > 0 && !showBankDetails" class="cart-icon">
      <span class="cart-count">{{cartDetails.length}}</span><ion-icon name="cart" routerLink="/cart" [queryParams]="{planID: quoteplan.planID, planType:quoteplan.planType}"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end"> 
      <ion-icon name="ios-home" routerLink="/home"></ion-icon>
    </ion-buttons>
    <ion-title>Confirmation Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf = "!showBankDetails">

    <h1>Physical Address <ion-icon name="create" float-right routerLink="/cartpersonaldetail"></ion-icon></h1>
    <p>{{physicalDetails?.addressLine1}}</p>
    <p>{{physicalDetails?.addressLine2}}</p>
    <p>{{physicalDetails?.addressLine3}}</p>
    <p>{{physicalDetails?.postCodeDesc}}</p>

    <div class="hr"></div>
    <h1>Email Address</h1>
    <p>{{contactDetails?.email}}</p>

    <div class="hr"></div>
    <h1>Payment Details</h1>
    <p *ngFor = "let item of paymentMethod">{{item.Value}} (Once-off Payment)</p>

    <div class="hr"></div>
    <div class="input-box">
      <h1>All that is left to finalise your payment is to provide your car registration number:</h1>
      <ion-item>
        <ion-input type="text" [(ngModel)]="confirmForm.registrationNo" required></ion-input>      
      </ion-item> 
    </div>
    
    <br>

    <div class="terms-condition-wrap">
      <input type="checkbox" [(ngModel)]="confirmForm.termCondition"> 
      I confirm that I have read the terms and conditions and that all the information supplied is correct.
    </div>

    <div class="form-btn">
      <button ion-button class="button-red" type="submit" [disabled]="!confirmForm.registrationNo || !confirmForm.termCondition" (click)="submit()">Continue</button>
    </div>

  </div>

  <!-- <div *ngIf = "bankDetails == 3 && customerActionId"> 
    <form ngNoForm action="https://virtual.mygateglobal.com/PaymentPage.cfm" target="_blank" method="POST" >
      <input type="hidden" name="Mode" value="0">
      <input type="hidden" name="MerchantID" value="ffe433f2-f81d-4b52-897f-84585f651d8c">
      <input type="hidden" name="ApplicationID" value="4079f45d-dfff-462b-a1ad-96f347d5dc3b">
      <input type="hidden" name="MerchantReference" value="{{personalDetails?.passportNo || personalDetails?.identificationNo}}">
      <input type="hidden" name="Amount" value="{{total}}">
      <input type="hidden" name="txtCurrencyCode" value="ZAR">
      <input type="hidden" name="txtDisplayPrice" value="{{total}}">
      <input type="hidden" name="txtDisplayCurrencyCode" value="ZAR">
      <button type="submit">Search</button>
    </form>
  </div> -->

  <div *ngIf = "showBankDetails">

    <h1>Thank you for your purchase and welcome to the MotorHappy family.</h1>
   
    <div *ngIf = "bankDetails == 1">
      <p>All that is left to do now is to make an EFT payment in order for your plan to be activated:</p>
      <p>Bank: <strong>FNB/RMB</strong></p>
      <p>Account Name: <strong>IOM-MotorHappy</strong></p>
      <p>Account Number: <strong>624 9649 2746</strong></p>
      <p>Branch Name: <strong>RMB Corporate Banking - JHB</strong></p>
      <p>Branch Code: <strong>255 005</strong></p>
      <p>Account Type: <strong *ngFor = "let item of accountType">{{item.Value || 'None'}}</strong></p>
      <p>Payment Reference: <strong>{{externalEFTreference}}</strong></p>
    </div>

    <div class="form-btn">
      <button ion-button class="button-red" type="submit" routerLink="/mygarage">View My Garage</button>
    </div>
    
  </div>
</ion-content>


