.preloader {
    background-color: rgba(250, 250, 250, 0.5);
     position: fixed;
     top: 0;
     width: 100%;
     height: 100%;
     z-index: 2000;
     transition: all .55s ease
 }
 .preloader .preloader-icon {
     position: fixed;
     right: 50%;
     bottom: 50%;
     -webkit-transform: translate(50%, 50%);
     transform: translate(50%, 50%);
     z-index: 3000
 }
 
 .preloader .preloader-icon .loading-dot {
     display: inline-block;
     height: 15px;
     width: 15px;
     border-radius: 50%;
     background-color: #db475e;
 }
 
 .preloader .preloader-icon .loading-dot-1 {
     -webkit-animation: 1.2s grow ease-in-out infinite;
     animation: 1.2 s grow ease-in-out infinite
 }
 
 .preloader .preloader-icon .loading-dot-2 {
     -webkit-animation: 1.2s grow ease-in-out infinite;
     animation: 1.2 s grow ease-in-out infinite;
     margin: 0 7 px
 }
 
 .preloader .preloader-icon .loading-dot-3 {
     -webkit-animation: 1.2s grow ease-in-out infinite .3s;
     animation: 1.2 s grow ease-in-out infinite .3s
 }
 
 @-webkit-keyframes grow {
     0%, 100%, 40% {
         -webkit-transform: scale(0);
         transform:scale(0)
     }
     40% {
         -webkit-transform:scale(1);
         transform:scale(1)
     }
 }
 
 @keyframes grow {
     0%, 100%, 40% {
         -webkit-transform: scale(0);
         transform: scale(0)
     }
     40% {
         -webkit-transform: scale(1);
         transform: scale(1)
     }
 }