<div *ngIf="show" class="preloader">
  <div class="loader-overlay text-center">
    <div class="ma-pre-loader">
     <div class="preloader-icon">
      <span class="loading-dot loading-dot-1"></span>
      <span class="loading-dot loading-dot-2"></span>
      <span class="loading-dot loading-dot-3"></span>
    </div>
    </div>
  </div>
</div>
