// .login-banner {
//     background-image: url(../../../assets/img/login-bg.png);
//     -webkit-background-size: cover;
//     -moz-background-size: cover;
//     background-size: cover;
//     background-position: center bottom;
//     background-repeat: no-repeat;
//     padding: 20px;
//     height: 100vh;
// }

.mh-logo {
    height: 80px;
    width: 80px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
    color: #707277;
    font-style: normal;
}

p {
    margin-top: 0;
}

.segment-button {
    width: 60%;
}

.login-banner h2{
    margin-bottom: 15px;
}

.forgot-link {
    font-family: 'BPreplay';
    font-size: 15px;
    color: #707277;
    font-style: normal;
    display: inherit;
    margin-bottom: 15px;
    text-decoration: none;
}
