<ion-content padding>
  <div class="login-banner">
    <div text-center>
      <img class="mh-logo" src="assets/img/mh-logo.png">
    </div>

    <div text-center>
      <h1>Welcome to your Garage</h1>
      <p>If you already have a policy with MotorHappy, simply log in with the same details sent to you via sms</p>
      <h2>Login with</h2>
      <ion-segment (ionChange)="segmentChanged($event)" class="segment-button"> 
        <ion-segment-button value="OTP" checked class="segment-option" (click)="changeForm()">
          OTP
        </ion-segment-button>
        <ion-segment-button value="Password" class="segment-option" (click)="changeForm()">
          Password
        </ion-segment-button>
      </ion-segment>
    </div>

    <form [formGroup]="OTPForm">
      <div *ngIf = "view == 'OTP'">

        <div class="radio-group">
          <label class="container" (click)="changeForm()">
            <input type="radio" value="id" formControlName="type" (ngModelChange)="onTypeChangeOTP($event)" checked>
            ID Number 
            <span class="checkmark"></span>
          </label>
        
          <label class="container" (click)="changeForm()">
            <input type="radio" value="passport" formControlName="type" (ngModelChange)="onTypeChangeOTP($event)">
              Passport
            <span class="checkmark"></span>
          </label>
        </div>

        <div class="input-box">
          <ion-item *ngIf = "OTPForm.controls['type'].value == 'id'">
            <ion-input type="digit" formControlName="identificationNo"  placeholder="Identity Number" minlength="13" maxlength="13"></ion-input>
          </ion-item>
          <error [formCtrl]="OTPForm.get('identificationNo')" [submitted]="formSubmitted"></error>
        
          <ion-item *ngIf = "OTPForm.controls['type'].value == 'passport'">
            <ion-input type="text" formControlName="passportNo" placeholder="Passport No"></ion-input>
          </ion-item> 
          <error [formCtrl]="OTPForm.get('passportNo')" [submitted]="formSubmitted"></error>
        </div>

        <div class="form-btn">
          <button ion-button class="button-red" type="submit" (click)="loginwithOTP()">GET OTP</button>
        </div>
      </div>
    </form>

    <form [formGroup]="passwordForm"> 
      <div *ngIf = "view == 'Password'">

        <div class="radio-group">
          <label class="container" (click)="changeForm()">
            <input type="radio" value="id" formControlName="type" (ngModelChange)="onTypeChangePassword($event)" checked>
            ID Number 
            <span class="checkmark"></span>
          </label>
        
          <label class="container" (click)="changeForm()">
            <input type="radio" value="passport" formControlName="type" (ngModelChange)="onTypeChangePassword($event)">
              Passport
            <span class="checkmark"></span>
          </label>
        </div>

        <div class="input-box">
          <ion-item *ngIf = "passwordForm.controls['type'].value == 'id'">
            <ion-input type="digit" formControlName="identificationNo" placeholder="Identity Number" minlength="13" maxlength="13"></ion-input>
          </ion-item>
          <error [formCtrl]="passwordForm.get('identificationNo')" [submitted]="formSubmitted"></error>

          <ion-item *ngIf = "passwordForm.controls['type'].value == 'passport'">
            <ion-input type="text" formControlName="passportNo" placeholder="Passport No"></ion-input>
          </ion-item>
          <error [formCtrl]="passwordForm.get('passportNo')" [submitted]="formSubmitted"></error>

          <ion-item>
            <ion-input type="{{type}}" formControlName="password" placeholder="Password"></ion-input>
            <button *ngIf="!showPass" class="show-pwd" ion-button type="button" item-right (click)="showPassword()"><ion-icon ios="ios-eye-off" md="md-eye-off"></ion-icon></button>
            <button *ngIf="showPass" class="show-pwd" ion-button type="button" item-right (click)="showPassword()"><ion-icon ios="ios-eye" md="md-eye"></ion-icon></button>
          </ion-item>
          <error [formCtrl]="passwordForm.get('password')" [submitted]="formSubmitted"></error>

          <a routerLink="/forgotpassword" class="forgot-link">Forgot Password?</a>

          <div class="form-btn">
            <button ion-button class="button-red" type="submit" (click)="loginwithPassword()">LOG IN</button>
          </div>
        </div>
      </div>
    </form>
      <div text-center class="display-text">
        <a class="router-link" routerLink="/home">Skip</a>
        <p>Not Registered?  <a class="router-link" routerLink="/registration">Create an account</a></p>
      </div>
  </div>
</ion-content>
