<ion-app>
  <app-loading></app-loading>
  <ion-split-pane>
    <ion-menu [swipeGesture]="false" side="start">
      <!-- <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header> -->
      <ion-content padding class="menu-bgcolor">

          <ion-menu-toggle>
            <ion-item routerLink="/home" routerDirection='root'>
              <ion-label>My Dashboard</ion-label>
              <ion-icon name="ios-arrow-forward" ios="right float-right"></ion-icon>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle *ngIf = "token != null">
            <ion-item routerLink="/documents" routerDirection='root'>
              <ion-label>My Documents</ion-label>
              <ion-icon name="ios-arrow-forward" ios="right float-right"></ion-icon>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle *ngIf = "token != null">
            <ion-item routerLink="/profile" routerDirection='root'>
              <ion-label>My Profile</ion-label>
              <ion-icon name="ios-arrow-forward" ios="right float-right"></ion-icon>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle *ngIf = "token != null">
            <ion-item routerLink="/mygarage" routerDirection='root'>
              <ion-label>My Garage</ion-label>
              <ion-icon name="ios-arrow-forward" ios="right float-right"></ion-icon>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle>
            <ion-item routerLink="/getquote" routerDirection='root'>
              <ion-label>Get Quote</ion-label>
              <ion-icon name="ios-arrow-forward" ios="right float-right"></ion-icon>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle>
            <ion-item routerLink="/findcars" routerDirection='root'>
              <ion-label>Find Cars</ion-label>
              <ion-icon name="ios-arrow-forward" ios="right float-right"></ion-icon>
            </ion-item>
          </ion-menu-toggle>
  
          <ion-menu-toggle *ngIf = "token == null">
            <ion-item routerLink="/" routerDirection='root'>
              <ion-label>Login</ion-label>
              <ion-icon name="ios-arrow-forward" ios="right float-right"></ion-icon>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle *ngIf = "token != null">
            <ion-item (click)="logout()" routerLink="/" routerDirection='root'>
              <ion-label>Logout</ion-label>
              <ion-icon name="ios-arrow-forward" ios="right float-right"></ion-icon>
            </ion-item>
          </ion-menu-toggle>
          
          <div class="close_menu">
            <ion-icon (click)="closeMenu()" name="ios-close-circle-outline"></ion-icon>
          </div>
      </ion-content>
    </ion-menu>
   
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
