<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="ios-arrow-back" routerLink="/mygarage"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="ios-home" routerLink="/home"></ion-icon>
    </ion-buttons>
    <ion-title>View Plan {{vehicleDetails?.policyNumber}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div class="view-plan-details">
    <ion-grid no-padding>
      <ion-row>
        <ion-col size="3">
          <div>
            <img *ngIf = "vehicleDetails?.planTypeDescription ==	'Service Plan'" class="vehicle-img" src="assets/icon/service.png">
            <img *ngIf = "vehicleDetails?.planTypeDescription ==	'Warranty'" class="vehicle-img" src="assets/icon/car-warranties.png">
            <img *ngIf = "vehicleDetails?.planTypeDescription ==	'Maintenance Plan'" class="vehicle-img" src="assets/icon/roadside-assist-icon.png">
            <img *ngIf = "vehicleDetails?.planTypeDescription ==	'RenewTech'" class="vehicle-img" src="assets/icon/renew-tech.png">
          </div>
        </ion-col>
        <ion-col size="9">
          <div class="plan-title">
            <h1>Your {{vehicleDetails?.planTypeDescription}} <span>(#{{vehicleDetails?.policyNumber}})</span> <br *ngIf = "vehicleDetails?.amountOfYearsToCover.value != 0">{{vehicleDetails?.amountOfYearsToCover || 'Unlimited'}} years / {{vehicleDetails?.currentKm}} kms*</h1>
            <p>Important information about - claims, dates, duration and payment term. </p>
            <p><small>*Whichever happens first. Refer to your plan documents</small></p>
            <button ion-button shape="round" fill="outline" size="small"(click)="getDocument(vehicleDetails.policyNumber)" class="button-white">GET DOCUMENT</button>
            <p><span class="status-button" [ngStyle]="{'background-color': vehicleDetails?.statusColour}">{{vehicleDetails?.statusDescription}}</span></p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
      
    <div *ngIf="vehicleDetails?.statusDescription === 'Active' && vehicleDetails?.whenActiveDescription != ''" class="error-msg err-active-bg">
      <span [ngStyle]="{'background-color': vehicleDetails?.statusColour == 'Amber' ? 'orange' : 'green'}"></span><p>{{vehicleDetails?.whenActiveDescription}}</p>
    </div>
    <div *ngIf="vehicleDetails.statusDescription === 'Inactive'" class="error-msg err-active-bg">
      <span class="err-inactive"></span><p>Your plan has either been cancelled or stopped. No plan benefits available.</p>
    </div>
    <div *ngIf="vehicleDetails.statusDescription === 'Pending'" class="error-msg err-active-bg">
      <span class="err-pending bg-success"></span><p>Your plan is pending. No plan benefits available.</p>
    </div>
    <div *ngIf="vehicleDetails.statusDescription === 'In progress'" class="error-msg err-active-bg">
      <span class="err-inprogress bg-success"></span><p>Your purchase is being processed. No Plan benefits active.</p>
    </div>
    <div class="view-plan-tbl">
      <table>
        <tr>
          <td width="120px">Duration</td>
          <td><span *ngIf = "vehicleDetails?.amountOfMonthsToCover.value != 0">{{vehicleDetails?.amountOfMonthsToCover || 'Month to'}} Month</span></td>
        </tr>
        <tr>
          <td width="120px">Plan Period</td>
          <td *ngIf = "vehicleDetails?.planTypeDescription != 'RenewTech'"><span>{{vehicleDetails?.effectiveDate | dateFormat}} - {{vehicleDetails?.policyEndDate | dateFormat}}</span></td>
          <td *ngIf = "vehicleDetails?.planTypeDescription == 'RenewTech'"><span>Month to Month</span></td>
        </tr>
        <tr>
          <td width="120px">Plan KM's</td>
          <td *ngIf = "vehicleDetails?.planTypeDescription != 'RenewTech'"><span>{{vehicleDetails?.kmOfCoverFrom}}km - {{vehicleDetails?.kmToCoverTo}}km</span></td>
          <td *ngIf = "vehicleDetails?.planTypeDescription == 'RenewTech'"><span>Unlimited</span></td>
        </tr>
        <tr *ngIf = "vehicleDetails?.planTypeDescription == 'RenewTech'">
          <td width="120px">Debit order date</td>
          <td><span>{{vehicleDetails?.effectiveDate | dateFormat: 'Do'}} of the Month</span></td>
        </tr>
        <tr>
          <td width="120px">Remainig Service</td>
          <td><span class="service-count">{{vehicleDetails?.maxNumberOfServices - vehicleDetails?.numberOfServicesCompleted}}</span></td>
        </tr>
      </table>
    </div>
    <div class="error-msg err-inactive-bg">
      <span class="err-inactive">
        <img src="assets/icon/warning-icon.svg">
      </span>
      <p>
        <b> You have 1 service every 15000 km or annually.</b> 
        Your Service Plan will start from the start date and will run for either a set period of time (e.g. 2 years) or up to a specified number of kilometres (e.g. 30,000kms), whichever happens first - as stated on your plan information documents.<br><br>
        Your plan may expire once all services have be used or when your plan reaches the
        final end date ({{vehicleDetails?.policyEndDate | dateFormat}}).
      </p>
    </div>

    <div class="collapse">
      <accordion class="box">

        <accordion-group>
          <accordion-heading>
            <p><span>How to claim</span><ion-icon name="ios-arrow-down"></ion-icon></p>
          </accordion-heading>
          <accordion class="sub-collapse">
            <accordion-group>
              <accordion-heading><span>1. Check your service intervals</span>
                <p float-right><ion-icon name="ios-arrow-down"></ion-icon></p>
              </accordion-heading>
              <ul type="a">
                <li>
                  Make sure that you stick to the manufacturer’s service schedule.
                  <ul type="i">
                    <li>Follow your service schedule to avoid future problems.</li>
                  </ul>
                </li>
              </ul>
            </accordion-group>
            <accordion-group>
              <accordion-heading>
                <p><span>2. Make a booking</span><ion-icon name="ios-arrow-down"></ion-icon></p>
              </accordion-heading>
              <ul type="a">
                <li> At your dealer of choice.
                  <ul type="i">
                    <li>When your vehicle is due for its service (on mileage or
                        in time for an annual service) make a booking at your dealer of choice.</li>
                  </ul>
                </li>
              </ul>
            </accordion-group>
            <accordion-group>
              <accordion-heading>
                <p><span>3. Say you have a {{vehicleDetails?.planTypeDescription}} with {{vehicleDetails?.brandDescription}}</span><ion-icon name="ios-arrow-down"></ion-icon></p>
              </accordion-heading>
              <ul type="a">
                <li>
                  Provide your plan number.
                  <ul type="i">
                    <li>Tell your dealership’s service consultant that you have a {{vehicleDetails?.planTypeDescription}}
                        with {{vehicleDetails?.brandDescription}} and provide your Plan number.
                    </li>
                  </ul>
                </li>
              </ul>
            </accordion-group>
            <accordion-group>
              <accordion-heading>
                <p><span>4. Authorisation go-ahead</span><ion-icon name="ios-arrow-down"></ion-icon></p>
              </accordion-heading>
              <ul type="a">
                <li>The dealer will call our Authorisation centre.
                  <ul type="i">
                    <li>{{vehicleDetails?.brandDescription}} will provide the go-ahead on all covered components as per the service schedule.
                      <ul type="1">
                        <li>When the dealership service advisor has received authorisation, he will be allowed to start the service or repair.</li>
                        <li>Authorisations can take up to 48hours.</li>
                        <li>Authoristion office hours:
                          <ul type="a">
                            <li><strong>Monday to Friday:</strong>07h30 to 17h00</li>
                            <li><strong>Saturday:</strong> 08h00 to 12h00</li>
                            <li>This office is closed on public holidays.</li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </accordion-group>
            <accordion-group>
              <accordion-heading>
                <p><span>5. Collect & Confirm</span><ion-icon name="ios-arrow-down"></ion-icon></p>
              </accordion-heading>
              <ul type="a">
                <li>Collect and inspect your invoice and vehicle.
                  <ul type="i">
                    <li>When you collect your vehicle from the dealer; make sure that the work was doneto your satisfaction,
                        by inspecting the invoice and your vehicle before signing.
                      <ul type="1">
                        <li>The service advisor will invoice {{vehicleDetails?.brandDescription}} for the service and / or repairs done.</li>
                        <li>If there is any evidence of poor driver technique or negligence, you will be responsible for the
                            payment of the repair costs.</li>
                        <li>{{vehicleDetails?.brandDescription}} will not refund or pay for any work done without it being duly authorised.</li>              
                        <li>It remains your responsibility to ensure that the *OEM Authorised Facility obtains proper authorisation.
                            You must settle the balance.</li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul> 
              <br>
              <p>
                *OEM is the original equipment manufacturer of a new vehicle, who manufactures the original parts and components used during
                the construction of your vehicle. In certain countries, the OEM is often
                represented by an Importer of a specific brand of vehicle.
              </p>
            </accordion-group>
          </accordion>
        </accordion-group>

        <accordion-group>
          <accordion-heading>
            <p><span>What is Included In My Plan?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
          </accordion-heading>
          <p><strong> Legend:</strong> Take note that there are limitations on the indicated covered part.</p>
          <ul *ngFor="let item of vehicleDetails?.itemsCovered" class="includ-list">
            <li><ion-icon [ngStyle]="{'color': item?.Colour == 'amber' ? 'orange' : 'green'}" text-right ios="ios-checkmark-circle-outline" md="md-checkmark-circle-outline"></ion-icon> {{item?.ItemCovered}}</li>
          </ul>
          <br>
          <p><strong>Legend:</strong></p>
          <div class="badge-legend"><span class="success"></span><p>*There are NO limitations on the indicated covered part</p></div>
          <div class="badge-legend"><span class="pending"></span><p>*There are limitations on the indicated covered part</p></div>
          <p>*Please review the respective Plan booklet for detailed information, respective limitations and the full list of components provided for. Terms, Conditions and Limitations apply.</p>
          <button ion-button float-right shape="round" fill="outline" size="small"(click)="getDocument(vehicleDetails.policyNumber)" class="button-white">GET DOCUMENT</button>
          <div class="clearfix"></div>
        </accordion-group>

        <accordion-group>
          <accordion-heading>
            <p><span>Service Provider For</span><ion-icon name="ios-arrow-down"></ion-icon></p>
          </accordion-heading>
          <p>*You have 1 service every 15,000km or annually. Your Service Plan will start from the start date and will run for either a set period of time (e.g. 2 years) or up to a specified number of kilometres (e.g. 30,000kms), whichever happens first - as stated on your plan information documents.</p>
          <p>Your plan may expire once all services have be used or when your plan reaches the final end date ({{vehicleDetails?.policyEndDate | dateFormat}}).</p>
          <div *ngFor="let item of vehicleDetails?.servicesCovered">
            <ul class="list2">
              <li>{{item?.ServiceCovered}}</li>
            </ul>
          </div>
          <div class="service-notification">
            <p>You have
            <strong> 1st service</strong> every
            <strong> 15,000km</strong> or
            <strong> annually.</strong>
            </p>
          </div>
          <div class="service-notification">
            <p>You have
            <strong> 2nd service</strong> every
            <strong> 15,000km</strong> or
            <strong> annually.</strong>
            </p>
          </div>
        </accordion-group>

        <accordion-group>
          <accordion-heading>
            <p><span>FAQs</span><ion-icon name="ios-arrow-down"></ion-icon></p>
          </accordion-heading>
          <accordion class="sub-collapse">
            <accordion-group>
              <accordion-heading>
                <p><span>What does a Service Plan pay for?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
              </accordion-heading>
              <p>A Service Plan pays for the cost of servicing your car in line with the manufacturer’s specified guidelines.</p>
            </accordion-group>
            <accordion-group>
              <accordion-heading>
                <p><span>What does the MotorHappy Service Plan cover?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
              </accordion-heading>
              <p>We covers the following in Service Plans:</p>
              <strong>Service Plan</strong>
              <p>A Service plan pays for specified aspects of the OEM* recommended scheduled services of your vehicle by an approved repair facility. 
                You must have the service performed at a specific period of time or specific distance travelled - whichever happens first.
              </p>
              <strong>Service Plan Booster</strong>
              <p>The Service Plan Booster includes everything incldued in the Service Plan, plus the replacement of front brake pads, rear brake pads and wiper blades.</p>
            </accordion-group>
            <accordion-group>
              <accordion-heading>
                <p><span>How do I know if my vehicle is eligible for a Service Plan?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
              </accordion-heading>
              <p>A Service Plan pays for the cost of servicing your vehicle. We offer the following Service Plans:</p>
              <strong>Service Plan</strong>
              <p>A Service plan pays for specified aspects of the OEM* recommended scheduled
                services of your vehicle by an approved repair facility. You must have
                the service performed at a specific period of time or specific distance
                travelled - whichever happens first.
              </p>
              <strong>Service Plan Booster</strong>
              <p>The Service Plan Booster includes everything incldued in the Service Plan,
                plus the replacement of front brake pads, rear brake pads and wiper blades.
              </p>
            </accordion-group>
            <accordion-group>
              <accordion-heading>
                <p><span>How can I buy a Service Plan?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
              </accordion-heading>
              <p>Add your Service Plan to your vehicle finance agreement
                  You will pay for the cost of your Service Plan as part of your monthly instalments.</p>
              <strong>Pay cash in advance</strong>
              <p>This is when you pay the full price of your Service Plan in advance.</p>
              <strong>Pay on a monthly basis</strong>
              <p>This is when you pay for your Service Plan through a monthly debit order.</p>
            </accordion-group>
            <accordion-group>
              <accordion-heading>
                <p><span>Debit order purchased plans</span><ion-icon name="ios-arrow-down"></ion-icon></p>
              </accordion-heading>
              <strong>If you pay for this plan via a monthly debit order you will only be able to take your vehicle for its
                  first service as follows:</strong>
              <ul>
                <li>on the Service elements, after the administrator has received <strong>4 successful fee payments;</strong></li>
                <li>on the Maintenance elements, after the administrator has received <strong>6 successful fee payments;</strong> and</li>
                <li>on the Major Components elements, after the administrator has received <strong>12 successful fee payments.</strong></li>
              </ul>
            </accordion-group>
            <accordion-group>
              <accordion-heading>
                <p><span>When can I start using my plan?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
              </accordion-heading>
              <strong>Upfront purchased plans</strong>
              <p>If you paid for your plan in advance (e.g. added to your vehicle finance agreement or paid cash in advance)
                  will only be able to take your vehicle for its first service <strong>20 business days </strong>
                  after the day on which payment was made to the administrator.
              </p>
              <strong>Debit order purchased plans</strong>
              <p>If you pay for this plan via a monthly debit order you will only be able to take your vehicle for its first service as follows:</p>
              <ul>
                <li>on the Service elements, after the administrator has received <strong>4 successful fee payments;</strong></li>
                <li>on the Maintenance elements, after the administrator has received <strong>6 successful fee payments;</strong> and</li>
                <li>on the Major Components elements, after the administrator has received <strong>12 successful fee payments.</strong></li>
              </ul>
            </accordion-group>
            <accordion-group>
              <accordion-heading>
                <p><span>How long does the plan run for?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
              </accordion-heading>
              <p>Your plan is not a fixed-term contract. It runs for a specific term (e.g. 3 years) or kilometres travelled (e.g. 45 000 km), whichever comes first.
              </p>
            </accordion-group>
            <accordion-group>
              <accordion-heading>
                <p><span>When does my plan end?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
              </accordion-heading>
              <strong>Your plan will automatically end when:</strong>
              <ul>
                <li>You reach the prescribed kilometres or term as stipulated in your plan summary. If you reach the specific term
                (e.g. 3 years) or kilometres travelled (e.g. 45 000 km) before the next service is due, services will not be paid for.</li>
                <li>You fail to service your vehicle within the OEM specified service interval for the second consecutive time.</li>
                <li>Your vehicle is damaged beyond repair or destroyed before the end of the plan.</li>
              </ul>
            </accordion-group>
            <accordion-group>
              <accordion-heading>
                <p><span>Can I cancel my plan?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
              </accordion-heading>
              <p>You can cancel your plan at any time. You can do this by giving us at least 20 business days’ notice in writing,
                  or by contacting our Customer Care Centre at <a target="_blank" href="mailto:customercare@motorhappy.co.za">customercare@motorhappy.co.za</a>
                or phoning us on 0861 642 779</p>
                <strong>Please note:</strong>
                <p>that the OEM plan that came standard with your car would not have been charged for and cannot be cancelled or refunded.</p>
            </accordion-group>
            <accordion-group>
              <accordion-heading>
                <p><span>Can MotorHappy cancel my plan?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
              </accordion-heading>
              <p>MotorHappy can cancel your plan within 20 business days after giving you written notice of a material
                  failure to comply with the plan requirements (unless you rectify the failure within the 20 business days).</p>
            </accordion-group>
            <accordion-group>
              <accordion-heading>
                <p><span>When can I get a refund on the cancellation of my payment?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
              </accordion-heading>
              <strong>On cancellation of the plan, you may be entitled to a refund as set out in the plan agreement if:</strong>
              <ul>
                <li>you cancel your plan before its start date</li>
                <li>you purchased your plan in advance (added to your vehicle finance agreement or paid in cash) and
                <strong>did not claim any benefits</strong> in terms of the plan;</li>
                <li>you pay for the plan on a monthly basis, a refund will only be payable if the plan is cancelled within
                  the <strong>first 6 months of the start date.</strong></li>
                  <li>you purchased your plan in advance (paid in cash) and <strong>did not claim any benefits</strong>
                  in terms of the plan;</li>
              </ul>
            </accordion-group>
            <accordion-group>
              <accordion-heading>
                <p><span>How do I know when to service my vehicle?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
              </accordion-heading>
              <p>OEMs require that you service your vehicle after a specific number of kilometres (e.g. every 1500 km) or
                  at specific terms (e.g. 12 months from date of first registration) even if you have not driven the specific
                  number of kilometres. Refer to your owner’s manual of requirements.
              </p>
            </accordion-group>
            <accordion-group>
              <accordion-heading>
                <p><span>When you cannot get a refund on cancellation of the plan?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
              </accordion-heading>
              <strong>On cancellation of the plan, you will not be entitled to a refund as set out in the plan agreement if:</strong>
              <ul>
                <li>you claim for a benefit in terms of the plan;</li>
                <li>you pay for the plan on a monthly basis, there will be no refund payable if you cancel your plan
                  <strong> after the first 6 months from the start date.</strong></li>
              </ul>
            </accordion-group>
            <accordion-group>
              <accordion-heading>
                <p><span>Can I transfer my plan when I sell my vehicle?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
              </accordion-heading>
              <p>If your plan is fully paid up and you want to sell your vehicle, you can transfer your plan to the new owner.
                  This plan may only be transferred once and only by the original plan holder.
                  You must notify {{vehicleDetails?.brandDescription}} within 15 days of the transaction.
                  If you don’t, you waive the right to cancel your plan and we will assume that your plan will be transferred
                  to the new owner.
              </p>
            </accordion-group>
            <accordion-group>
              <accordion-heading>
                <p><span>How do I lodge a complaint?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
              </accordion-heading>
              <p>If you are unhappy with any aspect of your plan and want to lodge a complaint, you can do so by sending
                  us an email at <a href="mailto:customercare@motorhappy.co.za" target="_blank">customercare@motorhappy.co.za</a>
                  or phoning us on 0861 642 779
              </p>
            </accordion-group>
            <accordion-group>
              <accordion-heading>
                <p><span>What are my responsibilities?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
              </accordion-heading>
              <strong>You must:</strong>
              <ul>
                <li>Have your vehicle serviced as per OEM requirements (see your owner’s manual)</li>
                <li>Stick to your service deadlines</li>
                <li>Have your vehicle serviced or repaired at a {{vehicleDetails?.brandDescription}} approved facility only</li>
                <li>Follow the service procedure</li>
                <li>Follow the prescribed claims procedure when you take your vehicle in for a service or repairs</li>
                <li>Drive responsibly</li>
                <li>Perform regular preventative maintenance on your vehicle, as per OEM requirements (this includes, but
                is not limited to, checking engine oil levels, coolant levels and tyre pressure)</li>
                <li>Take all reasonable steps to protect your vehicle from further loss or damage if mechanical breakdown
                or electrical failure happens</li>
                <li>Use your vehicle for its intended purpose only. You may not, among other things, use it for:
                  <ul>
                    <li>Racing or rallying, whether competitive or non-competitive</li>
                    <li>Carrying fare-paying passengers (unless expressly agreed to by us)</li>
                    <li>Driver tuition (unless expressly agreed to by us)</li>
                    <li>Towing of other vehicles</li>
                  </ul>
                </li>
                <li>Adhere to the limitations set out in your owner’s manual in terms of weight and passenger numbers. Don’t:
                  <ul>
                    <li>Overload your vehicle</li>
                    <li>Carry more than the prescribed number of passengers</li>
                    <li>Tow any trailer or vehicle that exceeds the weight limitations specified in your owner’s manual</li>
                  </ul>
                </li>
                <li>Never modify or enhance your vehicle by fitting it with non-original fitted OEM accessories or modifications,
                e.g. turbocharging your engine.</li>
                <li>Tamper with, replace, modify or disconnect your vehicle’s odometer or allow anyone else to do so</li>
    
                If you neglect any of these responsibilities, you will not be entitled to any of the benefits provided
                for you in your plan.
              </ul>
            </accordion-group>
            <accordion-group>
            <accordion-heading>
              <p><span>What are the consequences of missing a payment?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
            </accordion-heading>
            <p>If you fail to make any payment in terms of your plan agreement, by the due date, you have a 15-day grace
                period in which to pay it. Failing to do so will constitute a breach of the agreement and
              {{vehicleDetails?.brandDescription}} will be entitled to exercise its remedies.</p>
    
            <p>We will suspend your plan immediately if you fail to make a payment due in terms of your plan agreement on the due date.
              You will not be entitled to any of the benefits offered in terms of the plan until you pay all outstanding
              payments to {{vehicleDetails?.brandDescription}}. If you fail to pay the outstanding
              amounts, {{vehicleDetails?.brandDescription}} will take legal action against you to recover the cost.</p>
    
            <p>Always ensure that there are sufficient funds in your bank account to cover your payment. If you reach
              the end of the specific term (e.g. 3 years) or kilometres travelled (e.g. 45 000 km),
              before all the agreed monthly payments are made to {{vehicleDetails?.brandDescription}} (e.g. 24 months),
              all monthly payments remain your responsibility until fully paid up.</p>
    
            <p>If {{vehicleDetails?.brandDescription}} does not receive your monthly payment, we will immediately stop the processing of
              your claim for benefits, until you make the payment. {{vehicleDetails?.brandDescription}} will proceed with the processing
              of your claim for benefits 2 days after the payment is confirmed. You may not withhold the payment of
              any amounts due to {{vehicleDetails?.brandDescription}}, for any reason.</p>
          </accordion-group>
          <accordion-group>
            <accordion-heading>
              <p><span>How do I claim?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
            </accordion-heading>
            When your vehicle requires a service or you become aware of a breakdown or failure that the plan provides for,
            do the following:
            <ul>
              <li>Book your vehicle into a {{vehicleDetails?.brandDescription}} approved facility for services or repairs.</li>
              <li>Inform the service advisor at the approved facility that you have a plan and give them your plan number.</li>
            </ul>
            Once your vehicle is at the approved facility, the following will happen:
            <ul>
              <li>The authorised facility service advisor will get an order number from the Authorisation Centre.</li>
              <li>Authorisation Office Hours:
                <ul>
                  <li>Monday to Friday: 07h30 to 17h00</li>
                  <li>Saturday: 08h00 to 12h00</li>
                  <li>Public holidays: Closed</li>
                </ul>
              </li>
              <li>The authorised facility service advisor will supply the Authorisation Centre with all the information
              needed regarding your service or repair.</li>
              <li>When the service advisor has received authorisation, he will start the service or repair.</li>
              <li>The service advisor will invoice {{vehicleDetails?.brandDescription}} for the services or repairs done.</li>
            </ul>
            Please take note of the following:
            <ul>
              <li>{{vehicleDetails?.brandDescription}} will not refund or pay for any work done without prior authorisation. It is your
                responsibility to ensure that the authorised facility obtains proper authorisation. If not, you must
              settle the balance.</li>
              <li>You must pay for any services, repairs or parts not included in your plan.</li>
              <li>You must check your invoice to ensure that only the requested work was done. Sign the invoice to confirm this.</li>
              <li>You must inspect your vehicle to ensure that the repair or service work was done and that the parts
              are installed to your satisfaction and is complete.</li>
              <li>If there is any evidence of poor driver technique or negligence, you will be responsible for the payment
              of the repair costs.</li>
            </ul>
          </accordion-group>
          <accordion-group>
            <accordion-heading>
              <p><span>Can my claim be rejected?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
            </accordion-heading>
            It is your responsibility to avoid being in default or breach of the plan agreement, as it will result in
            the termination of your plan. A default or breach happens when you fail to meet material requirements of
            an agreement, this includes:
            <ul>
              <li>Not servicing your car regularly and at the service intervals set out in your service manual</li>
              <li>Failing to comply with the instructions in the OEM’s manual relating to the use, care and maintenance of your car.</li>
            </ul>
          </accordion-group>
          <accordion-group>
            <accordion-heading>
              <p><span>What is wear-and-tear?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
            </accordion-heading>
            <p> Wear-and-tear is the gradual physical deterioration of various vehicle parts. Wear-and-tear happens naturally
                and is inevitable as a result of normal use and ageing. {{vehicleDetails?.brandDescription}}
                will use your vehicle’s OEM guidelines or those of the approved facility to determine whether a part has suffered
              wear-and-tear.</p>
      
              <p>{{vehicleDetails?.brandDescription}} will also take into consideration the use of your
                vehicle, any material failure in terms of the plan agreement and any other relevant factor. {{vehicleDetails?.brandDescription}}
                will pay for the repair or replacement of the components listed in the plan agreement, only if you have complied
              with all the terms and conditions.</p>
          </accordion-group>
          <accordion-group>
            <accordion-heading>
              <p><span>How do I updated my details?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
            </accordion-heading>
            Email <a href="mailto:customercare@motorhappy.co.za">customercare@motorhappy.co.za</a> or phone 0861 642 779
          </accordion-group>
          <accordion-group>
            <accordion-heading>
              <p><span>When will MotorHappy not pay for Maintenance items?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
            </accordion-heading>
            {{vehicleDetails?.brandDescription}} will not provide benefits in terms of your Maintenance Plan if:
            <ul>
              <li>You provide false, misleading or fraudulent information to {{vehicleDetails?.brandDescription}}</li>
              <li>The odometer of your vehicle has been tampered with;</li>
              <li>The vehicle is not eligible for the Maintenance Plan or you cannot provide proof of eligibility;</li>
              <li>Your vehicle was modified or enhanced by fitting it with non-original, non-OEM fitted</li>
              <li>accessories or modifications, e.g. turbo-charging your engine;</li>
              <li>You wilfully or through gross negligence cause damage that results in a claim;</li>
              <li>The car is misused (towing of other vehicles, etc.); or</li>
              <li>Your payments are in arrears.</li>
            </ul>
          </accordion-group>
          <accordion-group>
            <accordion-heading>
              <p><span>What happens to my Plan if I am in an accident?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
            </accordion-heading>
            <p>If your vehicle is involved in an accident, the plan will continue to cover your vehicle only if all
                resulting damage, whether mechanical, electrical, structural or body-related is repaired by an approved
                facility or an accredited panel beater.</p>
            <p>{{vehicleDetails?.brandDescription}} reserves the right to suspend your plan if the workmanship or parts used do not meet
                the specific quality standards of your vehicle’s importer or OEM. If your vehicle is damaged beyond repair
                or destroyed before the end of the plan, you must notify us within 30 days. outZoom inFit to pageStart Presentation
            </p>
          </accordion-group>
          <accordion-group>
            <accordion-heading>
              <p><span>My car broke down, what’s the next step?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
            </accordion-heading>
            <strong>The vehicle needs to be taken to the nearest:</strong>
            <ul>
              <li>Franchised dealer (a dealership accredited by the original manufacturer); or</li>
              <li>an SA Warranties approved repairing dealer.</li>
            </ul>
          </accordion-group>
          <accordion-group>
            <accordion-heading>
              <p><span>When does my Car Warranty start?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
            </accordion-heading>
            <p>The warranty will start on the date on which it was bought or, if there is a manufactures warranty in force, the date on which the manufacturer’s warranty expires.</p>
          </accordion-group>
          <accordion-group>
            <accordion-heading>
              <p><span>When can I start to claim on my Warranty?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
            </accordion-heading>
            <strong>It depends on the method you used to buy your plan:</strong>
            <ul>
              <li>Upfront (Credit card or EFT)- we will be providing benefits 30 business days after the car warranty payment was made in full.</li>
              <li>Monthly debit order - we will be providing benefits after 3 consecutive monthly payments.</li>
            </ul>
            <p>The Roadside Assistance benefits will be available from your car warranty start date.</p>
          </accordion-group>
          <accordion-group>
            <accordion-heading>
              <p><span>I had my vehicle serviced, must I send in the invoice?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
            </accordion-heading>
            <p>Yes, you have to fax the invoice for the service to 0860 FAX SAW (329 729) with the proposal number or policy number written or printed on the invoice so we can keep record of your services. It is your responsibility as the owner of the vehicle to service the vehicle at the correct time and kilometre intervals.</p>
          </accordion-group>
          <accordion-group>
            <accordion-heading>
              <p><span>Can I submit a claim for an emergency repair done over the weekend?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
            </accordion-heading>
            <p>It depends on the type of repair completed on the vehicle. Keep all relevant documentation, such as the invoice for the repair. Please refer to the policy definitions section for an explanation of what is an emergency repair. Get a quick online quote to see a full list of benefits and exclusion within in the different car warranty options.</p>
          </accordion-group>
          <accordion-group>
            <accordion-heading>
              <p><span>What am I covered for?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
            </accordion-heading>
            <p>Car warranties covers the major mechanical components for a wide variety of vehicles and therefore some components that are unique to certain vehicle makes or models might not be covered.</p>
          </accordion-group>
          <accordion-group>
            <accordion-heading>
              <p><span>How much am I paying for this policy and how did I pay for this policy?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
            </accordion-heading>
            <p>The amount you selected (where all the vehicle details and policy holder details are completed on), shows the amount that is included in your finance agreement or the amount you paid for the policy in cash, with a credit or debit card or a cheque at the Selling Dealer when the vehicle was purchased. In some instances the policy premium is included with the finance agreement.</p>
          </accordion-group>
          <accordion-group>
            <accordion-heading>
              <p><span>What is my policy number?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
            </accordion-heading>
            <p>The policy number is also known as the proposal number. In some instances the policy number is printed on the finance agreement. If the policy was purchased telephonically, the policy number is printed on a letter and posted with a policy booklet to you. You can also find your policy number under the ‘Your Documents’ section of MyGarage.</p>
            <p>If you are unsure of the policy number or you have not received the policy booklet within 30 days, please contact SA Warranties with your personal and vehicle details.</p>
          </accordion-group>
          <accordion-group>
            <accordion-heading>
              <p><span>What are the service requirements?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
            </accordion-heading>
            <p>You must service the vehicle according to the manufacturer’s service frequency and contents or the service requirements of the principal policy.</p>
            <p>After each service, you must forward the invoice showing the vehicle’s details, your policy number and the current odometer reading to the Claims Office by post, fax or e-mail. This will ensure a fast claims process in the event of a claim. You must also keep copies of the invoices for your records in the event that they are requested by the Claims Office.</p>
          </accordion-group>
          <accordion-group>
              <accordion-heading>
                <p><span>What does the Hyundai Maintenance Plan cover?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
              </accordion-heading>
              <p>Your Maintenance Plan covers the following service elements:</p>
              <strong>Wear-and-tear parts:</strong>
              <ul>
                <li>Rear brake discs or drums (replacement will be considered only if the component is outside manufacturer specification and skimming tolerance)</li>
                <li>Rear wheel cylinders</li>
                <li>Clutch and clutch cables (limited to R7 500 incl. VAT, per event)</li>
                <li>Front and rear shock absorbers</li>
                <li>Fuses and globes (excl. xenon and sealed units)</li>
                <li>Starter motor</li>
                <li>Turbo assembly (limited to R17 100 incl. VAT, per event)</li>
                <li>Wheel bearings</li>
                <li>Fuel system (includes fuel pump)</li>
                <li>Water pump</li>
                <li>Steering components (steering rack, column and pump)</li>
                <li>Factory-fitted door locks, boot locks and electronic ignitions</li>
                <li>Air-conditioner (compressor only, re-gassing only on replacement)</li>
              </ul>
              <strong>Service Plan elements:</strong>
              <ul>
                <li>Alternator</li>
                <li>Oil filter</li>
                <li>Engine oil</li>
                <li>Sump plug gasket</li>
                <li>Air filter element</li>
                <li>Fuel filter</li>
                <li>Spark plugs</li>
                <li>Brake and clutch fluid</li>
              </ul>
              <strong>Service Plans:</strong>
              <ul>
                <li>Pollen filter element</li>
                <li>Coolant</li>
                <li>Workshop consumables (max. Of R100 excl. VAT)</li>
              </ul>
              <p>For a full list of components covered and limitations you must refer to your plan booklet.</p>
            </accordion-group>
            <accordion-group>
              <accordion-heading>
                <p><span>How do I know if my car is eligible for a Maintenance Plan?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
              </accordion-heading>
              <p>Your car is eligible for a Maintenance Plan if, at the plan start date, your car:</p>
              <ul>
                <li>Has travelled less than 80 000 km; and</li>
                <li>Is less than 4 years old (calculated from date of first registration).</li>
              </ul>
            </accordion-group>
            <accordion-group>
              <accordion-heading>
                <p><span>How can I buy a Maintenance Plan?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
              </accordion-heading>
              <p>You can buy a Maintenance plan in the following way:</p>
              <ul>
                <li>Full upfront payment - pay the full price by credit card or EFT</li>
                <li>No monthly payment option is available for a car Maintenance plan</li>
              </ul>
            </accordion-group>
            <accordion-group>
              <accordion-heading>
                <p><span>When can I start using my plan?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
              </accordion-heading>
              <p>If your plan was paid full in advance, benefits will only be provided 30 business days after the first Maintenance Plan payment was made. Your Roadside Assistance benefits will be available from your Maintenance Plan’s start date.</p>
            </accordion-group>
            <accordion-group>
              <accordion-heading>
                <p><span>Can you purchase a Service Plan and Maintenance plan together?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
              </accordion-heading>
              <p>You cannot purchase any of the plans together, only one plan at a time. Meaning you cannot purchase Service Plan and a Service Plan Booster together or a Limited Maintenance plan with a Maintenance Plan or a Service Plan with a Maintenance plan.</p>
            </accordion-group>
            <accordion-group>
              <accordion-heading>
                <p><span>How long does the plan run for?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
              </accordion-heading>
              <p>Your plan is not a fixed-term contract. It runs for a specific term (e.g. 3 years) or kilometres travelled (e.g. 45 000 km), whichever comes first.</p>
            </accordion-group>
            <accordion-group>
              <accordion-heading>
                <p><span>When does my plan end?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
              </accordion-heading>
              <p>Your Maintenance Plan will automatically end when:</p>
              <ul>
                <li>You reach the prescribed kilometres or term as stipulated in your owner’s manual. If you reach the specific term (e.g. 3 years) or kilometres travelled (e.g. 45 000 km) before the:</li>
                <li>next service is due; services will not be paid for.</li>
              </ul>
              <p>You fail to service your car within the manufacturer-specified service interval for the second consecutive time.</p>
              <p>Your car is damaged beyond repair or destroyed before the expiry of the Maintenance Plan.</p>
            </accordion-group>
            <accordion-group>
              <accordion-heading>
                <p><span>Can I cancel my plan?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
              </accordion-heading>
              <p>You can cancel your plan at any time. You can do this by giving us at least 20 business days’ notice in writing, or by contacting our Customer Care Centre at <a href="mailto:customercare@motorhappy.co.za" target="_blank">customercare@motorhappy.co.za</a> or phoning us on 0861 114 384</p>
              <strong>Please note:</strong>
              <ul>
                <li>The original manufacturer plan that came standard with your car would not have been charged for and cannot be cancelled or refunded.</li>
                <li>If you cancel your Maintenance Plan before its start date, you will be entitled to a refund as set out in the policy information document.</li>
                <li>If you paid for your Maintenance Plan in advance and did not claim any benefits in terms of the Maintenance Plan, you will be entitled to a refund as set out in the policy information document.</li>
                <li>If you cancel your Maintenance Plan after the first 6 months there will be no refund payable by MotorHappy.</li>
              </ul>
            </accordion-group>
            <accordion-group>
              <accordion-heading>
                <p><span>Can Hyundai Maintenance Plan cancel my plan?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
              </accordion-heading>
              <p>Hyundai Maintenance Plan can cancel your Maintenance Plan within 20 business days after giving you written notice of a material failure to comply with the Maintenance Plan requirements (unless you rectify the failure within the 20 business days).</p>
              <p>If we terminate your Maintenance Plan, we will be entitled, without prejudice to other rights which we may have in terms of this Maintenance Plan or in law, to payment of liquidated damages, such as:</p>
              <ul>
                <li>any maintenance or service work already undertaken on your car;</li>
                <li>commission paid;</li>
                <li>administration costs incurred by Hyundai Maintenance Plan for the period in which the Maintenance Plan was active; and</li>
                <li>a cancellation charge of R570 (VAT inclusive) or other cancellation charges reasonable in the circumstances as determined by Hyundai Maintenance Plan.</li>
              </ul>
            </accordion-group>
            <accordion-group>
              <accordion-heading>
                <p><span>How do I know when to service my vehicle?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
              </accordion-heading>
              <p>OEMs require that you service your vehicle after a specific number of kilometres (e.g. every 1500 km) or at specific terms (e.g. 12 months from date of first registration) even if you have not driven the specific number of kilometres. Refer to your owner’s manual of requirements.</p>
            </accordion-group>
            <accordion-group>
              <accordion-heading>
                <p><span>Can I get a refund on my Maintenance Plan?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
              </accordion-heading>
              <p>You can cancel your Maintenance Plan at any time. You can do this by giving at least 20 business days’ notice in writing, or by contacting our Customer Care Centre at <a href="mailto:customercare@motorhappy.co.za" target="_blank">customercare@motorhappy.co.za</a> or phoning us on 0861 114 384</p>
              <strong>Please note:</strong>
              <ul>
                <li>The original manufacturer plan that came standard with your car would not have been charged for and cannot be cancelled or refunded.</li>
                <li>If you cancel your Maintenance Plan before its start date, you will be entitled to a refund as set out in the policy information document.</li>
                <li>If you paid for your Maintenance Plan in advance and did not claim any benefits in terms of the Maintenance Plan, you will be entitled to a refund as set out in the policy information document.</li>
                <li>If you paid for the Maintenance Plan on a monthly basis, a refund will only be payable by Hyundai Maintenance Plan if the Maintenance Plan is cancelled within the first 6 months of the start date.</li>
                <li>If you cancel your Maintenance Plan after the first 6 months there will be no refund payable by Hyundai Maintenance Plan.</li>
              </ul>
              <p>Any refund, as mentioned in the policy information document, will be equal to the amount paid to us for the Maintenance Plan, less all of the following:</p>
              <ul>
                <li>commission paid;</li>
                <li>administration costs incurred by us for the period in which your Maintenance Plan was active; and</li>
                <li>a cancellation charge of R570 (VAT inclusive) or other cancellation charges reasonable in the circumstances as determined by us.</li>
              </ul>
              <p>The balance that remains will be refunded to you directly or, if your Maintenance Plan was added to your car finance agreement through a bank, to the bank. Please note that if, after the deduction of the items above, it is found that you owe us money, you will be required to settle the outstanding amount, regardless of the Maintenance Plan cancellation.</p>
            </accordion-group>
            <accordion-group>
              <accordion-heading>
                <p><span>Can I transfer my plan when I sell my vehicle?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
              </accordion-heading>
              <p>If your plan is fully paid up and you want to sell your vehicle, you can transfer your plan to the new owner. This plan may only be transferred once and only by the original plan holder. You must notify Hyundai Maintenance Plan within 15 days of the transaction. If you don’t, you waive the right to cancel your plan and we will assume that your plan will be transferred to the new owner.</p>
            </accordion-group>
            <accordion-group>
              <accordion-heading>
                <p><span>How do I lodge a complaint?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
              </accordion-heading>
              <p>If you are unhappy with any aspect of your plan and want to lodge a complaint, you can do so by sending us an email at <a href="mailto:customercare@motorhappy.co.za" target="_blank">customercare@motorhappy.co.za</a> or phoning us on 0861 114 384</p>
            </accordion-group>
            <accordion-group>
              <accordion-heading>
                <p><span>What are my responsibilities?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
              </accordion-heading>
              <p>You must:</p>
              <ul>
                <li>Have your vehicle serviced as per OEM requirements (see your owner’s manual)</li>
                <li>Stick to your service deadlines</li>
                <li>Have your vehicle serviced or repaired at a Hyundai Maintenance Plan approved facilities only</li>
                <li>Follow the service procedure</li>
                <li>Follow the prescribed claims procedure when you take your vehicle in for a service or repairs</li>
                <li>Drive responsibly</li>
                <li>Perform regular preventative maintenance on your vehicle, as per OEM requirements (this includes, but is not limited to, checking engine oil levels, coolant levels and tyre pressure)</li>
                <li>Take all reasonable steps to protect your vehicle from further loss or damage if mechanical breakdown or electrical failure happens</li>
                <li>Use your vehicle for its intended purpose only. You may not, among other things, use it for:
                  <ul>
                    <li>Racing or rallying, whether competitive or non-competitive</li>
                    <li>Carrying fare-paying passengers (unless expressly agreed to by us)</li>
                    <li>Driver tuition (unless expressly agreed to by us)</li>
                    <li>Towing of other vehicles</li>
                  </ul>
                </li>
                <li>Adhere to the limitations set out in your owner’s manual in terms of weight and passenger numbers. Don’t:
                  <ul>
                    <li>Overload your vehicle</li>
                    <li>Carry more than the prescribed number of passengers</li>
                    <li>Tow any trailer or vehicle that exceeds the weight limitations specified in your owner’s manual</li>
                  </ul>
                </li>
                <li>Never modify or enhance your vehicle by fitting it with non-original fitted OEM accessories or modifications, e.g. turbocharging your engine.</li>
                <li>Tamper with, replace, modify or disconnect your vehicle’s odometer or allow anyone else to do so</li>
              </ul>
              <p>If you neglect any of these responsibilities, you will not be entitled to any of the benefits provided for you in your plan.</p>
            </accordion-group>
            <accordion-group>
              <accordion-heading>
                <p><span>What are the consequences of missing a payment?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
              </accordion-heading>
              <p>If you fail to make any payment in terms of your plan agreement, by the due date, you have a 15-day grace period in which to pay it. Failing to do so will constitute a breach of the agreement and Hyundai Maintenance Plan will be entitled to exercise its remedies.</p>
              <p>We will suspend your plan immediately if you fail to make a payment due in terms of your plan agreement on the due date. You will not be entitled to any of the benefits offered in terms of the plan until you pay all outstanding payments to Hyundai Maintenance Plan. If you fail to pay the outstanding amounts, Hyundai Maintenance Plan will take legal action against you to recover the cost.</p>
              <p>All amounts not paid on the due date will earn interest at the interest rate published by Hyundai Maintenance Plan banker as its prime overdraft lending rate (a certificate from any manager of that bank, whose appointment or authority need not be proved, as to the prime rate at any time and the usual way in which it is calculated and compounded at such time will, in the absence of patent or clerical error, be final and binding on the Parties), plus 2%.</p>
              <p>Always ensure that there are sufficient funds in your bank account to cover your payment. If you reach the end of the specific term (e.g. 3 years) or kilometres travelled (e.g. 45 000 km), before all the agreed monthly payments are made to Hyundai Maintenance Plan (e.g. 24 months), all monthly payments remain your responsibility until fully paid up.</p>
              <p>If Hyundai Maintenance Plan does not receive your monthly payment, we will immediately stop the processing of your claim for benefits, until you make the payment. Hyundai Maintenance Plan will proceed with the processing of your claim for benefits 2 days after the payment is confirmed. You may not withhold the payment of any amounts due to Hyundai Maintenance Plan, for any reason.</p>
            </accordion-group>
            <accordion-group>
              <accordion-heading>
                <p><span>How do I claim?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
              </accordion-heading>
              <p>When your car requires a service or you become aware of a breakdown or failure that is covered under your Maintenance Plan, do the following:</p>
              <ul>
                <li>Book your car into an approved facility for services or repairs.</li>
                <li>Inform the service advisor at the approved facility that you have a Maintenance Plan and give them your Maintenance Plan number.</li>
              </ul>
              <strong>Once your car is at the approved facility, the following will happen:</strong>
              <ul>
                <li>The authorised facility service advisor will get an order number from the Authorisation Centre.
                  <ul>
                    <li>Authorisation Centre Office Hours:
                      <ul>
                        <li>Monday to Friday: 07h30 to 17h00</li>
                        <li>Saturday: 08h00 to 12h00</li>
                        <li>Public holidays: Closed</li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li>The authorised facility service advisor will supply the Authorisation Centre with all the information needed regarding your service or repair.</li>
                <li>When the service advisor has received authorisation, they will start the service or repair.</li>
                <li>The service advisor will invoice MotorHappy for the services and/or repairs done.</li>
                <strong>Please take note of the following:</strong>
                <ul>
                  <li>Hyundai Maintenance Plan will not refund or pay for any work done without prior authorisation. It is your responsibility to ensure that the authorised facility obtains proper authorisation. If not, you must settle the balance.</li>
                  <li>You must pay for any services, repairs or parts not included in your Maintenance Plan.</li>
                  <li>You must check your invoice to ensure that only the requested work was done. Sign the invoice to confirm this.</li>
                  <li>You must inspect your car to ensure that the repair work and/or service was done and that the parts are installed to your satisfaction and is complete.</li>
                </ul>
              </ul>
            </accordion-group>
            <accordion-group>
              <accordion-heading>
                <p><span>Can my claim be rejected?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
              </accordion-heading>
              <p>It is your responsibility to avoid being in default or breach of the plan agreement, as it will result in the termination of your plan. A default or breach happens when you fail to meet material requirements of an agreement, this includes:</p>
              <ul>
                <li>Not servicing your car regularly and at the service intervals set out in your service manual</li>
                <li>Failing to comply with the instructions in the OEM’s manual relating to the use, care and maintenance of your car.</li>
              </ul>
            </accordion-group>
            <accordion-group>
              <accordion-heading>
                <p><span>What is wear-and-tear?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
              </accordion-heading>
              <p>Wear-and-tear is the gradual physical deterioration of various vehicle parts. Wear-and-tear happens naturally and is inevitable as a result of normal use and ageing. Hyundai Maintenance Plan will use your vehicle’s OEM guidelines or those of the approved facility to determine whether a part has suffered wear-and-tear.</p>
              <p>Hyundai Maintenance Plan will also take into consideration the use of your vehicle, any material failure in terms of the plan agreement and any other relevant factor. Hyundai Maintenance Plan will pay for the repair or replacement of the components listed in the plan agreement, only if you have complied with all the terms and conditions.</p>
            </accordion-group>
            <accordion-group>
              <accordion-heading>
                <p><span>How do I update my details?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
              </accordion-heading>
              <p>Email <a href="mailto:customercare@motorhappy.co.za" target="_blank">customercare@motorhappy.co.za</a> or phone 0861 114 384</p>
            </accordion-group>
            <accordion-group>
              <accordion-heading>
                <p><span>When will Hyundai Maintenance Plan not pay for maintenance items?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
              </accordion-heading>
              <p>Hyundai Maintenance Plan will not provide benefits in terms of your Maintenance Plan if:</p>
              <ul>
                <li>You provide false, misleading or fraudulent information to Hyundai Maintenance Plan</li>
                <li>The odometer of your vehicle has been tampered with;</li>
                <li>The vehicle is not eligible for the Maintenance Plan or you cannot provide proof of eligibility;</li>
                <li>Your vehicle was modified or enhanced by fitting it with non-original, non-OEM fitted</li>
                <li>accessories or modifications, e.g. turbo-charging your engine;</li>
                <li>You willfully or through gross negligence cause damage that results in a claim;</li>
                <li>The car is misused (towing of other vehicles, etc.); or</li>
                <li>Your payments are in arrears.</li>
              </ul>
            </accordion-group>
            <accordion-group>
              <accordion-heading>
                <p><span>What happens to my Plan if I am in an accident?</span><ion-icon name="ios-arrow-down"></ion-icon></p>
              </accordion-heading>
              <p>If your vehicle is involved in an accident, the plan will continue to cover your vehicle only if all resulting damage, whether mechanical, electrical, structural or body-related is repaired by an approved facility or an accredited panel beater.</p>
              <p>Hyundai Maintenance Plan reserves the right to suspend your plan if the workmanship or parts used do not meet the specific quality standards of your vehicle’s importer or OEM. If your vehicle is damaged beyond repair or destroyed before the end of the plan, you must notify us within 30 days.</p>
            </accordion-group>
          </accordion>
        </accordion-group>

      </accordion>
    </div>
  </div>
</ion-content>