p{
  color: #4f5559;
}

.view-plan-details .plan-title{
  margin-bottom: 10px;
}

.view-plan-details .plan-title h1{
  font-family: 'BPreplay';
  font-size: 18px;
  color: #4f5559;
  font-weight: 600;
  font-style: normal;
  margin: 0;
  padding: 0 0 0px;
}

.view-plan-details .plan-title h1 span{
  font-weight: 500;
  display: inline-block;
  font-size: 16px;
}

.view-plan-details .plan-title p{
  padding:0 0 5px;
  margin: 0px;
  color: #4f5559;
  display: inline-block;
}

.view-plan-details .plan-title p .status-button{
  margin: 0 0 0 10px;
}

.view-plan-tbl table td{
  color: #4f5559;
  padding: 0 0 5px;
  font-family: 'Nunito';
  font-weight: 500;
  font-style: normal;
}

.view-plan-tbl table td span{
  font-weight: 600;
  font-style: normal;
}

p {
  margin-top: 0;
}

.service-notification p{
  color: #4f5559;
  margin: 5px 0px;
}
 