<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="ios-arrow-back" routerLink="/"></ion-icon>
    </ion-buttons>
    <ion-title>Account Verification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1 text-center>Please verify you account <span class="user-name">{{identificationNo || passportNo}}</span></h1>
 
  <ion-item>
    <ion-input type="text" [(ngModel)]="otp" placeholder="Enter Your OTP" minlength="6" maxlength="6"></ion-input>
  </ion-item>

  <div class="form-btn">
    <button ion-button class="button-red" [disabled]="(otp?.length != 6) ? 'true': ''" type="submit" (click)="submit()">Verify</button>
  </div>

  <div *ngIf="isVerified === 'false'" >
    <p text-center class="text-danger"><strong>Your account is not verified yet please verified it.</strong></p>
  </div>

</ion-content>
