h1 {
    font-size: 20px;
}

p {
    margin-top: 0;
}

ion-icon {
    font-size: 50px;
}

.profile-grid {
    --background: linear-gradient(133deg, #03eae2 0%, #03caf3 100%) !important; 
    color: #ffffff;
    font-size: 15px;
    font-family: 'BPreplay';
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}

.profile-grid:focus {
    box-shadow: 0px 0px 8px 4px #c1c1c1;
}

.profile-grid .card-content {
    padding: 20px;
    font-size: 16px;
} 

.garage-grid {
    background: linear-gradient(133deg, #f95972 0%, #c51d41 100%) !important;
    color: #ffffff;
    font-size: 15px;
    font-family: 'BPreplay';
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}

.garage-grid:focus {
    box-shadow: 0px 0px 8px 4px #c1c1c1;
}

.garage-grid .card-content {
    padding: 20px;
    font-size: 16px;
}

.quote-grid {
    background: linear-gradient(133deg, #cbe54f 0%, #83ad43 100%) !important; 
    color: #ffffff;
    font-size: 15px;
    font-family: 'BPreplay';
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}

.quote-grid:focus {
    box-shadow: 0px 0px 8px 4px #c1c1c1;
}

.quote-grid .card-content {
    padding: 20px;
    font-size: 16px;
}

.cars-grid {
    background:linear-gradient(133deg, #84888b 0%, #4c4c4e 100%) !important;
    color: #ffffff;
    font-size: 15px;
    font-family: 'BPreplay';
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}

.cars-grid:focus {
    box-shadow: 0px 0px 8px 4px #c1c1c1;
}

.cars-grid .card-content {
    padding: 20px;
    font-size: 16px;
}

.following-box {
    border-radius: 10px;
    margin-top: 35px;
    background-image: url(../../../assets/img/follow-box-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-position: center top;
    height: 100%;
}

.following-box .card-content{
    font-size: 15px;
    font-family: 'BPreplay';
    color: #ffffff;
    border-radius: 10px;
    background-color: rgba(4,4,4,0.6);
}

.following-box ul {
    margin: 0px;
    padding: 0;
}

.following-box ul li {
    font-size: 11px;
    list-style: none;
    position: relative;
    padding-left: 20px;
    margin-bottom: 5px;
}

.following-box ul li:before{
    content: "";
    background-image: url(../../../assets/img/bullet.svg);
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-position: left top;
    width: 15px;
    height: 15px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.following-box h3 {
    margin: 0;
    color: #ffffff;
    font-size: 15px;
    font-style: normal;
}

.menu-bgcolor ion-menu-toggle{
    --background: var(--ion-background-color, transparent);
}