<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
     <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf = "token" text-center>
    <h1>Welcome <span class="user-name"> {{userDetail?.personalDetails?.firstName}} {{userDetail?.personalDetails?.surname}}</span></h1>
    <p>Please select what you want</p>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="6"> 
        <ion-card *ngIf = "token" routerLink="/profile" class="profile-grid" no-margin>
          <ion-card-content text-center>
            <ion-icon ios="ios-contact" md="md-contact"></ion-icon><br>
            <ion-label>My Profile</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card *ngIf = "token" routerLink="/mygarage" class="garage-grid" no-margin>
          <ion-card-content text-center>
            <ion-icon ios="ios-cog" md="md-cog"></ion-icon><br>
            <ion-label>My Garage</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-card routerLink="/getquote" class="quote-grid" no-margin>
          <ion-card-content text-center>
            <ion-icon ios="ios-list-box" md="md-list-box"></ion-icon><br>
            <ion-label>Get Quote</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card routerLink="/findcars" class="cars-grid" no-margin>
          <ion-card-content text-center>
              <ion-icon name="car"></ion-icon><br>
            <ion-label>Find Cars</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div>
    <ion-card class="following-box">
      <ion-card-content>
        <h3>You'll be able to do the following:</h3>
        <ul>
          <li>View your policy, monthly payment amount and payment date</li>
          <li>Request your policy documents and confirmation of cover</li>
          <li>Add new products to your policy</li>
          <!-- <li>Take part in South Africa’s Ultimate Journey 2019</li> -->
        </ul>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
