<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-icon name="ios-arrow-back" routerLink="/serviceplan" [queryParams]="{planID: quotePlan.planID, planType:quotePlan.planType}"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf = "cartDetails.length > 0" class="cart-icon">
        <span class="cart-count">{{cartDetails.length}}</span><ion-icon name="cart" routerLink="/cart" [queryParams]="{planID: quotePlan.planID, planType:quotePlan.planType}"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="ios-home" routerLink="/home"></ion-icon>
    </ion-buttons>
    <ion-title>Quote Result</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="quote-result">
    <accordion class="box box-round box-quote">
      <accordion-group>
        <accordion-heading>
          <p><span>Your Car Details</span><ion-icon class="edit-icon" name="create" (click)="presentAlert()"></ion-icon><ion-icon name="ios-arrow-down"></ion-icon></p>
        </accordion-heading>
        <h4>{{this.quoteFormValue.MHDateOfFirstRegistration}}-01</h4>
        <h5>{{this.quoteFormValue.MHMake}} {{this.quoteFormValue.MHModel}}</h5>
        <p>Current KM : {{this.quoteFormValue.MHCurrentKilometers}}</p>
        <p>Last Service Done KM: {{this.quoteFormValue.MHLastServiceDoneKilometer}}</p>
        <p>Avg. Mile Per Annum: {{this.quoteFormValue.MHAverageMileagePerAnnum}}</p>
      </accordion-group>
    </accordion>

    <h3>Your Quote Results</h3>
    <p>*Indicates Illustrative Pricing which may be subject to change. All quotes valid for 30 days only.</p>
  
    <ion-list>
      <div class="input-box">
        <ion-item>
          <ion-select [(ngModel)]="PlanTypeId" (ngModelChange)="ProductYearCover()" placeholder="{{quotePlan?.planType}}" class="title-option">
            <ion-select-option *ngFor = "let item of plan" [value]="item.PlanTypeId">{{item?.PlanType}}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
    </ion-list>

    <div *ngIf = "PlanTypeId != 'df99ec60-c075-4a60-a3f1-97531f84bb47' && error == null">
      <h3>Refine Quotes:</h3> 
      <ion-list>
        <div class="input-box">
          <ion-label>How many years of cover do you want?</ion-label>
          <ion-item>
            <ion-select [(ngModel)]="coverYears" (ngModelChange)="ProductMileage()" placeholder="{{yersToCover[0]?.Value}}" class="title-option">
              <ion-select-option *ngFor = "let item of yersToCover" [value]="item.Key">{{item?.Value}}</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
        <div class="input-box">
          <ion-item>
            <ion-select placeholder="Select Kms" [(ngModel)]="productMilegeValue" class="title-option" (ngModelChange)="ProductMileageList()">
              <ion-label>How many kms do you want cover for?</ion-label>
              <ion-select-option *ngFor = "let item of productMilege" [value]="item.Key">{{item?.Value}}</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </ion-list>
    </div>
  
    <div *ngIf = "error != null">
      <p class="quoteplan-error-msg">{{error}}</p>
      <div class="form-btn">
        <button ion-button class="button-red button-auto" type="submit" (click)="backQuote()">Change Vehicle Details</button>
      </div>
    </div>

    <div *ngFor = "let item of yearsToCoverData">
      <div *ngIf = "PlanTypeId === item.PinkBoxPlanTypeId && item.OfferDescription.indexOf('Pearl Extender Warranty') < 0" class="quote-plan-box">       
        <div text-center>
          <h3>{{item?.OfferDescription}}</h3>
          <div *ngIf = "PlanTypeId != 'df99ec60-c075-4a60-a3f1-97531f84bb47'">
            <p class="red-text">{{item?.AmountOfYearsToCover}} year(s)/
              <span *ngIf = "item?.KmCovered.value != 0">{{item?.KmCovered || 'Unlimited km'}}</span>
            </p>
          </div>
          <div class="plan_price">
            <p>R {{item?.MonthlyTotalCostVAT}}</p>
            <span *ngIf = "PlanTypeId != 'df99ec60-c075-4a60-a3f1-97531f84bb47'">
              per month X {{item?.PaymentTerm}}
            </span><br>
            <span>price include VAT</span>
          </div>
          <div class="form-btn">
            <button ion-button class="button-red" type="submit" (click)="addToCart(item.ID)">Add to Cart</button>
          </div>       
        </div>
      </div>
    </div>

    <div *ngIf = "PlanTypeId == '4b9a356a-93cc-4f1a-a200-0702542c916b'" class="warranty_notes">
      <p>*The MSURE Step Up Warranty serves as a top up to the MSURE Bumper To Bumper Warranty, and only customers that have a MSURE Bumper To Bumper Warranty in place are eligible, unless both products are bought simultaneously.</p>
      <br>
    </div>

    <div class="form-btn form-fix-btn" *ngIf = "cartDetails.length > 0">
      <button ion-button class="button-red" type="submit" routerLink="/cart" [queryParams]="{planID: quotePlan.planID, planType:quotePlan.planType}">Go To Cart ({{cartDetails.length}})</button>
    </div>     
  </div>
</ion-content>

