<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Find Cars</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ais-instantsearch [config]="config">
    <div>
      <accordion class="ma-accordion-search">
        <accordion-group>
          <accordion-heading class="ma-title-search">
            <p class="search-title"><img src="assets/icon/car-srch-icon.png" /><span>SEARCH OPTIONS</span><ion-icon name="ios-arrow-down"></ion-icon></p>
          </accordion-heading>

          <accordion class="ma-body-accordion">
            <accordion-group>
              <accordion-heading>
                <p><span>Make</span><ion-icon name="ios-arrow-down"></ion-icon></p>
              </accordion-heading>
              <ais-refinement-list attribute="MakeName" limit='15' sort-by="['isRefined', 'value:asc']"></ais-refinement-list>
            </accordion-group>
          </accordion>

          <accordion class="ma-body-accordion">
            <accordion-group>
              <accordion-heading>
                <p><span>Model</span><ion-icon name="ios-arrow-down"></ion-icon></p>
              </accordion-heading>
              <ais-refinement-list attribute="ModelName" limit='15' show-more></ais-refinement-list>
            </accordion-group>
          </accordion>

          <accordion class="ma-body-accordion">
            <accordion-group>
              <accordion-heading>
                <p><span>Mileage</span><ion-icon name="ios-arrow-down"></ion-icon></p>
              </accordion-heading>
              <!-- <ais-refinement-list attribute="Mileage" limit='15'></ais-refinement-list> -->
              <ais-range-input class="ma-mileage" attribute="Mileage" currency='km'></ais-range-input>
            </accordion-group>
          </accordion>

          <accordion class="ma-body-accordion">
            <accordion-group>
              <accordion-heading>
                <p><span>Year</span><ion-icon name="ios-arrow-down"></ion-icon></p>
              </accordion-heading>
              <ais-refinement-list attribute="Year" sort-by="['isRefined', 'value:desc']"></ais-refinement-list>
            </accordion-group>
          </accordion>
  
          <accordion class="ma-body-accordion">
            <accordion-group>
              <accordion-heading>
                <p><span>Transmission</span><ion-icon name="ios-arrow-down"></ion-icon></p>
              </accordion-heading>
              <ais-refinement-list attribute="Transmission" operator="and"></ais-refinement-list>
            </accordion-group>
          </accordion>

          <accordion class="ma-body-accordion">
            <accordion-group>
              <accordion-heading>
                <p><span>Province</span><ion-icon name="ios-arrow-down"></ion-icon></p>
              </accordion-heading>
              <ais-refinement-list attribute="Province" limit='15'></ais-refinement-list>
            </accordion-group>
          </accordion>

          <ais-clear-refinements></ais-clear-refinements>
        </accordion-group>
      </accordion>

      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="car-list-header">
              <h1>Used cars for sale</h1>
              <ais-stats>
                <ng-template let-state="state">
                    {{state.nbHits}} Matches
                </ng-template>
              </ais-stats>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ais-hits>
        <ng-template let-hits="hits">
          <div *ngFor="let item of hits; let i = index">
            <!-- <img src="{{item?.Featured_image}}" /> -->
            <ion-grid>
              <ion-row>
                <ion-col>
                  <p class="car-name">{{item?.MakeName}} {{item?.FriendlyName}}</p>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-grid>
              <div class="car-item-feature">
                <ion-row>
                  <ion-col size="8">
                    <ion-row>
                      <ion-col size="6" class="pl-0 pr-0">
                        <span class="car-item-icon">
                          <img class="" width="16px" src = "assets/icon/road-icon.svg">
                        </span>
                        <span class="car-label">MILEAGE</span> 
                      </ion-col>
                      <ion-col size="6">
                        <span class="car-detail">{{item?.Mileage}}</span>
                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="6" class="pl-0 pr-0">
                        <ion-icon class="car-item-icon" name="calendar"></ion-icon>
                        <span class="car-label">YEAR</span> 
                      </ion-col>
                      <ion-col size="6">
                        <span class="car-detail">{{item?.Year}}</span>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                  <ion-col size="4">
                      <div class="price">R {{item?.Price}}</div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="pt-0" size="4">
                    <ion-icon class="car-item-icon" name="pin"></ion-icon>
                    <span class="car-label">PROVINCE</span>
                  </ion-col>
                  <ion-col class="pt-0" size="6">
                    <span class="car-detail">{{item?.Province}}</span>
                  </ion-col>
                </ion-row>
                <ion-row class="button-center">                  
                  <ion-col>
                    <button ion-button shape="round" fill="outline" size="small" (click)="viewDetail(item.HTMLLink)" class="button-white">View Details</button>
                  </ion-col>
                </ion-row>
              </div>
            </ion-grid>
          </div>
        </ng-template>
      </ais-hits>
    </div>
    <ais-pagination attribute="brand"></ais-pagination>
  </ais-instantsearch>

</ion-content>
