<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-back-button defaultHref="/"></ion-back-button> -->
      <ion-icon name="ios-arrow-back" routerLink="/"></ion-icon>
    </ion-buttons>
    <ion-title>Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="registerForm">

    <div class="radio-group">
      <label class="container" (click)="changeForm()">
        <input type="radio" value="id" formControlName="type" (ngModelChange)="onTypeChangeOTP($event)" checked>
        ID Number 
        <span class="checkmark"></span>
      </label>
    
      <label class="container" (click)="changeForm()">
        <input type="radio" value="passport" formControlName="type" (ngModelChange)="onTypeChangeOTP($event)">
          Passport
        <span class="checkmark"></span>
      </label>
    </div>

    <div class="input-box">

      <div *ngIf = "registerForm.controls['type'].value == 'id'">
        <ion-label class="label">Identity Number</ion-label>
        <ion-item *ngIf = "registerForm.controls['type'].value == 'id'">
          <ion-input type="digit" formControlName="identificationNo" minlength="13" maxlength="13"></ion-input>
        </ion-item>
      </div>
      <error [formCtrl]="registerForm.get('identificationNo')" [submitted]="formSubmitted"></error>
      
      <div *ngIf = "registerForm.controls['type'].value == 'passport'">
        <ion-label class="label">Passport No</ion-label>
        <ion-item *ngIf = "registerForm.controls['type'].value == 'passport'">
          <ion-input type="text" formControlName="passportNo"></ion-input>
        </ion-item> 
      </div>
      <error [formCtrl]="registerForm.get('passportNo')" [submitted]="formSubmitted"></error>

      <ion-label class="label">Email Address</ion-label>
      <ion-item>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item> 
      <error [formCtrl]="registerForm.get('email')" [submitted]="formSubmitted"></error>

      <ion-label class="label">Confirm Email Address</ion-label>
      <ion-item>
        <ion-input type="email" formControlName="confirmEmail"></ion-input>
      </ion-item> 
      <error [formCtrl]="registerForm.get('confirmEmail')" [submitted]="formSubmitted"></error>

      <ion-label class="label">New Password</ion-label>
      <ion-item>
        <ion-input type="{{passwordType}}" formControlName="password"></ion-input>
        <button class="show-pwd" ion-button type="button" item-right (click)="showPassword('passwordType')"><ion-icon name="{{passwordType == 'password' ? 'eye-off' : 'eye'}}"></ion-icon></button>
      </ion-item> 
      <error [formCtrl]="registerForm.get('password')" [submitted]="formSubmitted"></error>

      <ion-label class="label">Confirm New Password</ion-label>
      <ion-item>
        <ion-input type="{{confirmPasswordType}}" formControlName="confirmPassword"></ion-input>
        <button class="show-pwd" ion-button type="button" item-right (click)="showPassword('confirmPasswordType')"><ion-icon name="{{confirmPasswordType == 'password' ? 'eye-off' : 'eye'}}"></ion-icon></button>
      </ion-item> 
      <error [formCtrl]="registerForm.get('confirmPassword')" [submitted]="formSubmitted"></error>

      <ion-label class="label">Select Title</ion-label>
      <ion-item>
        <ion-select formControlName="titleId" class="title-option" placeholder="Select Title">
          <ion-select-option *ngFor="let item of title" [value]="item.Key">{{item?.Value}}</ion-select-option>
        </ion-select>
      </ion-item>
      <error [formCtrl]="registerForm.get('titleId')" [submitted]="formSubmitted"></error>

      <ion-label class="label">First Name</ion-label>
      <ion-item>
        <ion-input type="text" formControlName="firstname"></ion-input>
      </ion-item> 
      <error [formCtrl]="registerForm.get('firstname')" [submitted]="formSubmitted"></error>

      <ion-label class="label">Surname</ion-label>
      <ion-item>
        <ion-input type="text" formControlName="surname"></ion-input>
      </ion-item>
      <error [formCtrl]="registerForm.get('surname')" [submitted]="formSubmitted"></error>

      <ion-label class="label">Date of Birth</ion-label>
      <ion-item>
        <ion-input type="date" formControlName="dateOfBirth" [max]="maxDateString()"></ion-input>
      </ion-item>
      <error [formCtrl]="registerForm.get('dateOfBirth')" [submitted]="formSubmitted"></error>

      <ion-label class="label">Mobile Number</ion-label>
      <ion-item>
        <ion-input type="tel" formControlName="cellphoneNo" minlength="10" maxlength="10"></ion-input>
      </ion-item> 
      <error [formCtrl]="registerForm.get('cellphoneNo')" [submitted]="formSubmitted"></error>
    
    </div>

    <div class="form-btn">
      <button ion-button class="button-red" type="submit" (click)="Register()">Register</button>
    </div>
  </form>
  
</ion-content>
