<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="ios-arrow-back" routerLink="/findcars"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="ios-home" routerLink="/home"></ion-icon>
    </ion-buttons>
    <ion-title>{{selectedCar?.MakeName}} {{selectedCar?.FriendlyName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    <h1>{{selectedCar?.MakeName}} {{selectedCar?.FriendlyName}}</h1>
    <div class="price">R {{selectedCar?.Price}}</div>
    <h2>Car Details</h2>
    <ion-grid class="car-item-feature">
      <ion-row class="border-bottom">
        <ion-col size="">
          <span class="car-item-icon">
            <img src = "assets/icon/car-body_icon.png">
          </span>
          <span class="car-label">Body</span> 
        </ion-col>
        <ion-col size="">
          <span class="car-detail">{{selectedCar?.BodyType}}</span>
        </ion-col>
      </ion-row>

      <ion-row class="border-bottom">
        <ion-col size="">
          <span class="car-item-icon">
            <img src = "assets/icon/road-icon.svg" width="18px">
          </span>
          <span class="car-label">MILEAGE</span> 
        </ion-col>
        <ion-col size="">
          <span class="car-detail">{{selectedCar?.Mileage}}</span>
        </ion-col>
      </ion-row>

      <ion-row class="border-bottom">
        <ion-col size="">
          <span class="car-item-icon">
            <img src = "assets/icon/fuel_icon.png">
          </span>
          <span class="car-label">Fuel Type</span> 
        </ion-col>
        <ion-col size="">
          <span class="car-detail">{{selectedCar?.FuelType}}</span>
        </ion-col>
      </ion-row>

      <ion-row class="border-bottom">
        <ion-col size="">
          <span class="car-item-icon">
            <img src = "assets/icon/engine_icon.png">
          </span>
          <span class="car-label">Engine</span> 
        </ion-col>
        <ion-col size="">
          <span class="car-detail">N/A</span>
        </ion-col>
      </ion-row>

      <ion-row class="border-bottom">
        <ion-col size="">
          <span class="car-item-icon">
            <img src = "assets/icon/transmission_icon.png">
          </span>
          <span class="car-label">Transmission</span> 
        </ion-col>
        <ion-col size="">
          <span class="car-detail">{{selectedCar?.Transmission}}</span>
        </ion-col>
      </ion-row>

      <ion-row class="border-bottom">
        <ion-col size="">
          <span class="car-item-icon">
            <img src = "assets/icon/drive_icon.png">
          </span>
          <span class="car-label">Drive</span> 
        </ion-col>
        <ion-col size="">
          <span class="car-detail">N/A</span>
        </ion-col>
      </ion-row>

      <ion-row class="border-bottom">
        <ion-col size="">
          <span class="car-item-icon">
            <img src = "assets/icon/exterior_clr_icon.png">
          </span>
          <span class="car-label">Exterior Color</span> 
        </ion-col>
        <ion-col size="">
          <span class="car-detail">{{selectedCar?.Colour}}</span>
        </ion-col>
      </ion-row>

      <ion-row class="border-bottom">
        <ion-col size="">
          <span class="car-item-icon">
            <img src = "assets/icon/exterior_clr_icon.png">
          </span>
          <span class="car-label">Interior Color</span> 
        </ion-col>
        <ion-col size="">
          <span class="car-detail">N/A</span>
        </ion-col>
      </ion-row>

      <ion-row class="border-bottom">
        <ion-col size="">
          <span class="car-item-icon">
            <img src = "assets/icon/door_icon.png">
          </span>
          <span class="car-label">No of Door</span> 
        </ion-col>
        <ion-col size="">
          <span class="car-detail">{{selectedCar?.NoOfDoor}}</span>
        </ion-col>
      </ion-row>

      <ion-row class="border-bottom">
        <ion-col size="">
          <span class="car-item-icon">
            <img src = "assets/icon/key_icon.png">
          </span>
          <span class="car-label">Registerd</span> 
        </ion-col>
        <ion-col size="">
          <span class="car-detail">-</span>
        </ion-col>
      </ion-row>

      <ion-row class="border-bottom">
        <ion-col size="">
          <span class="car-item-icon">
            <img src = "assets/icon/history_icon.png">
          </span>
          <span class="car-label">History</span> 
        </ion-col>
        <ion-col size="">
          <span class="car-detail">N/A</span>
        </ion-col>
      </ion-row>

      <ion-row class="border-bottom">
        <ion-col size="">
          <span class="car-item-icon" width="12px">#</span>
          <span class="car-label">Stock Id</span> 
        </ion-col>
        <ion-col size="">
          <span class="car-detail">{{selectedCar?.stockNumber}}</span>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="car-item-feature" *ngIf = "selectedCar?.Features.length > 1">
      <h2>Features</h2>
      <ul class="includ-list car-item-feature">
        <li *ngFor="let item of selectedCar?.Features.split(',')">
          <ion-icon text-right ios="ios-checkmark-circle-outline" md="md-checkmark-circle-outline"></ion-icon>
          <span>{{item.trim()}}</span>
        </li>
      </ul>
    </div>
  </div>

  <!-- <div class="contact-dealer-box">
    <h2><ion-icon name="paper-plane"></ion-icon> Contact Dealer</h2>
    <form [formGroup]="contactForm" class="input-box"> 
      <ion-item>
        <ion-input type="text" formControlName="first_name" placeholder="First Name"></ion-input>      
      </ion-item> 
      <error [formCtrl]="contactForm.get('first_name')" [submitted]="formSubmitted"></error>

      <ion-item>
        <ion-input type="text" formControlName="last_name" placeholder="Last Name"></ion-input>      
      </ion-item> 
      <error [formCtrl]="contactForm.get('last_name')" [submitted]="formSubmitted"></error>

      <ion-item>
        <ion-input type="text" formControlName="email" placeholder="Email"></ion-input>      
      </ion-item> 
      <error [formCtrl]="contactForm.get('email')" [submitted]="formSubmitted"></error>

      <ion-item>
        <ion-input type="tel" formControlName="mobole_no" placeholder="Telephone" minlength="10" maxlength="10"></ion-input>      
      </ion-item> 
      <error [formCtrl]="contactForm.get('mobole_no')" [submitted]="formSubmitted"></error>

      <div class="form-btn">
        <button class="button-red" ion-button (click)="submit()">Send Message</button>
      </div>
    </form>
  </div> -->

</ion-content>
