h1 {
    font-size: 22px;
}

h2 {
    font-size: 18px;
}

.includ-list {
    li {
        margin-bottom: 5px;
        span {
            padding-left: 5px;
        }
    }
}

.car-item-feature {
    border: 0;
}

.border-bottom {
    border-bottom: 1px solid #dddddd;
}

.contact-dealer-box {
    background-color: #009ec7;
    padding: 15px;

    h2 {
        color: #ffffff;
        margin-bottom: 10px;

        .icon-inner {
            fill: #db455c;
        }
    }

    .form-btn {
        margin-bottom: 0;
    }
}