<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="ios-arrow-back" routerLink="/profile"></ion-icon>
    </ion-buttons>
    <ion-title>Verify Updates</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<h1 text-center>Verify updated details via OTP sent to you via sms</h1>
  <form [formGroup]="OTPForm">
    <div class="input-box">
      <ion-item>
        <ion-input type="text" formControlName="oneTimePassword" placeholder="Enter Your OTP" maxlength="6"></ion-input>
      </ion-item>
      <error [formCtrl]="OTPForm.get('oneTimePassword')" [submitted]="formSubmitted"></error>
      <div class="form-btn">
        <button ion-button class="button-red" type="submit" (click)="verifyOTP()">Verify</button>
      </div>
    </div>
  </form>

</ion-content>
