<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="ios-arrow-back" routerLink="/mygarage"></ion-icon>
    </ion-buttons>
    <ion-title>My {{carDetails?.vehicleMake}} Car Details</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="ios-home" routerLink="/home"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    <h1>My Car Details</h1>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <span class="car-label">Make</span> 
        </ion-col>
        <ion-col size="8">
          <b class="car-detail">{{carDetails?.vehicleMake}}</b>
        </ion-col>

        <ion-col size="4">
          <span class="car-label">Model</span> 
        </ion-col>
        <ion-col size="8">
          <b class="car-detail">{{carDetails?.vehicleModel}}</b>
        </ion-col>

        <ion-col size="4">
          <span class="car-label">Year</span>
        </ion-col>
        <ion-col size="8">
          <b class="car-detail">{{carDetails?.dateOfFirstRegistration}}</b>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <br>
  <div>
    <span class="car-label">Please check that the information we have below is correct:</span>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <span class="car-label">Registration Number</span> 
        </ion-col>
        <ion-col size="8">
          <b class="car-detail">{{carDetails?.registrationNo}}</b>
        </ion-col>

        <ion-col size="4">
          <span class="car-label">VIN Number</span> 
        </ion-col>
        <ion-col size="8">
          <b class="car-detail">{{carDetails?.vINNo}}</b>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <br>
  <div>
    <span class="car-label">If the information is not correct, please click on <b>Upload license disc photo</b> below </span>
  </div>
</ion-content>
