h1 {
    font-size: 20px;
}
.car-label{
    color: #4f5559;
    padding: 0 0 5px;
    font-family: 'Nunito';
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}
.car-detail{
    font-weight: 600;
    font-style: normal;
    color: rgb(112, 114, 119);
    font-size: 16px;
    display: block;
    padding-top: 4px;
}