<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-icon name="ios-arrow-back" routerLink="/cartpersonaldetail"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf = "cartDetails.length > 0" class="cart-icon">
      <span class="cart-count">{{cartDetails.length}}</span><ion-icon name="cart" routerLink="/cart" [queryParams]="{planID: quoteplan.planID, planType:quoteplan.planType}"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end"> 
      <ion-icon name="ios-home" routerLink="/home"></ion-icon>
    </ion-buttons>
    <ion-title>Payment Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1>You will be paying for your plan by :</h1>

  <div *ngFor="let item of paymentMethod" class="radio-group">
    <label class="container">
      <input [value]='item.Key' type="radio" name="method" [(ngModel)]="paymentForm.PaymentMethod">
      {{item.Value}}
      <span class="checkmark"></span>
    </label>
  </div>
  
  <div *ngIf = "!DebitOrder">
    <div class="terms-condition-wrap">
      <input type="checkbox" [(ngModel)]="paymentForm.termCondition"> 
      I confirm that I have read the terms and conditions and that all the information supplied is correct.
    </div>

    <div class="form-btn">
      <button ion-button class="button-red" type="submit" [disabled]="!paymentForm.PaymentMethod || !paymentForm.termCondition" (click)="submit()">Continue</button>
    </div>
  </div>

  <div *ngIf = "DebitOrder">
    <form [formGroup]="debitOrderForm">
      <div class="input-box">

        <ion-item>
          <ion-input type="text" formControlName="bankAccountHolder" placeholder="Account Holder Name"></ion-input>           
        </ion-item> 
        <error [formCtrl]="debitOrderForm.get('bankAccountHolder')" [submitted]="formSubmitted"></error>

        <ion-item> 
          <ion-select formControlName="bankName" placeholder="Select Bank" class="title-option" (ngModelChange)="selectBranch($event)">
            <ion-select-option *ngFor = "let item of (bank | keys)" [value]="item">{{item}}</ion-select-option>
          </ion-select>
        </ion-item>
        <error [formCtrl]="debitOrderForm.get('bankName')" [submitted]="formSubmitted"></error>

        <div class="inputarea">
          <input placeholder="Branch Code" autocomplete formControlName="bankDetails" [items]="branch" [config]="configBranch" (selectEvent)="onSelectBranchCode($event)" (focus)="logScrolling()">
          <error [formCtrl]="debitOrderForm.get('bankDetails')" [submitted]="formSubmitted"></error>
        </div>

        <ion-item>
          <ion-select formControlName="bankAccountType" placeholder="Select Account Type" class="title-option">
            <ion-select-option *ngFor = "let item of accountType" [value]="item.Key">{{item.Value}}</ion-select-option>
          </ion-select>
        </ion-item>
        <error [formCtrl]="debitOrderForm.get('bankAccountType')" [submitted]="formSubmitted"></error>

        <ion-item>
          <ion-input type="text" formControlName="bankAccountNumber" placeholder="Account Number"></ion-input>            
        </ion-item>
        <error [formCtrl]="debitOrderForm.get('bankAccountNumber')" [submitted]="formSubmitted"></error>
        
        <ion-item>
          <ion-select formControlName="debitOrderDay" placeholder="Select Debit Order Day" class="title-option">
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="15">15</ion-select-option>
            <ion-select-option value="25">25</ion-select-option>
            <ion-select-option value="30">30</ion-select-option>
          </ion-select>
        </ion-item>
        <error [formCtrl]="debitOrderForm.get('debitOrderDay')" [submitted]="formSubmitted"></error>
      </div>
    </form>

    <div class="terms-condition-wrap">
      <input type="checkbox" [(ngModel)]="paymentForm.termCondition"> 
      I confirm that I have read the terms and conditions and that all the information supplied is correct.
    </div>

    <div class="form-btn">
      <button ion-button class="button-red" type="submit" [disabled]="paymentForm.PaymentMethod != 2  || !paymentForm.termCondition" (click)="debitOrderSubmit()">Continue</button>
    </div>
  </div>

</ion-content>
