h1 {
    font-size: 18px;
    padding-bottom: 20px;
}

.terms-condition-wrap {
    color: #505050;
    font-size: 13px;
    line-height: 20px;
}

.autocomplete input {
    border: none;
    padding: 15px;
    width: 100%;
    font-size: 14px;
}

ion-item, ion-input {
    z-index: 0;
}

.box-quote p {
    line-height: normal;
}