<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>My Garage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngFor="let vehicle of vehiclesDetails">
    <ion-card class="box">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="card-title">
                <h1>My <span>Car Details</span></h1>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid>
          <ion-row>
            <ion-col size="3">
              <div class="vehical-icon-edit" (click)="navigateToProfile(vehicle)">
                <img class="vehicle-img" src="assets/icon/vehical-icon.png">
                <span>
                  <ion-icon name="create" ios="ios-create" md="md-create"></ion-icon>
                </span>
              </div>
            </ion-col>
            <ion-col size="9">
              <div class="vehicle-details">
                <b>{{vehicle?.dateOfFirstRegistration | dateFormat: 'YYYY'}}, {{vehicle?.vehicleMake}} {{vehicle?.vehicleModel}}</b>
                <p class="model-block font-18 mb-2">
                  VIN Number : <span [ngStyle]="{'color': !vehicle?.vINNo ? 'red' : ''}"> {{vehicle?.vINNo || 'Please update VIN'}}</span>
                </p>
                <p class="model-block font-18 mb-0">
                  REG Number : <span>{{vehicle?.registrationNo}}</span>
                </p>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
      <div padding-horizontal>
        <div class="divider"> </div>
      </div>
      <div *ngFor= "let plan of vehicle.CustomerOffers; let i = index">
        <ion-card-content>
          <div class="vehicle-prod-details">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <div class="card-title">
                    <h2>My Product <span>Details</span></h2>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-grid>
              <ion-row>
                <ion-col size="3">
                  <img *ngIf = "plan?.planTypeDescription ==	'Service Plan'" class="vehicle-img" src="assets/icon/service.png">
                  <img *ngIf = "plan?.planTypeDescription ==	'Warranty'" class="vehicle-img" src="assets/icon/car-warranties.png">
                  <img *ngIf = "plan?.planTypeDescription ==	'Maintenance Plan'" class="vehicle-img" src="assets/icon/roadside-assist-icon.png">
                  <img *ngIf = "plan?.planTypeDescription == 'RenewTech'" class="vehicle-img" src="assets/icon/renew-tech.png">
                </ion-col>
                <ion-col size="5">
                  <h3 text-left>{{plan?.planTypeDescription}}</h3>
                </ion-col>
                <ion-col size="4"> 
                  <p class="status-btn-wrap" text-right><span class="status-button" [ngStyle]="{'background-color': plan?.statusColour}">{{plan?.statusDescription}}</span></p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6">
                  <p>Purchase price</p> 
                  <h6>R{{plan?.monthlyCost}} x {{plan?.paymentTerm}} months</h6>
                </ion-col>
                <ion-col size="6">
                  <div *ngIf = "plan?.planTypeDescription != 'RenewTech'">
                    <p>Plan Value (Incl. VAT)</p> 
                    <h6>R{{plan?.planValue}}</h6>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="pt-0 pb-0" size="6">
                  <button ion-button shape="round" fill="outline" size="small" (click)="showDetails(plan)" class="button-white">VIEW PLAN</button>
                </ion-col>
                <ion-col class="pt-0 pb-0" size="6">
                  <button ion-button shape="round" fill="outline" size="small" (click)="getDocument(plan.policyNumber)" class="button-white">GET DOCUMENT</button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-card-content>
      </div> 
    </ion-card>
  </div>
</ion-content>

     
