.box {
    background-color: #efefef;
    border-radius: 10px;
    margin: 0 0 15px;
    --box-shadow: none;
}
.box .card-content-ios{
    padding: 10px;
    --box-shadow: none;
}
.card-content-md {
    padding: 10px 10px;
}
.card-title h1, .card-title h2{
    font-family: 'BPreplay';
    font-size: 24px;
    color: #7b7e81;
    font-weight: 600;
    line-height: 20px;
}
.card-title h1 span, .card-title h2 span{
    color: #db475e;
}
.vehicle-details{
    color: #707277;
    font-family: 'Nunito';
    font-weight: 500;
    font-style: normal;
}
.vehicle-details p {
    font-size: 13px;
}
.vehicle-details b {
    display: block;
    margin-bottom: 5px;
    line-height: 18px;
}
.vehicle-prod-details b{
    font-size: 15px;
    font-weight: 500;
}
.vehicle-prod-details{
    color: #707277;
    font-family: 'Nunito';
    font-weight: 500;
    font-style: normal;
}
.vehicle-prod-details b{
    font-size: 15px;
    font-weight: 500;
}
.vehicle-prod-details .card-title h1, .vehicle-prod-details .card-title h2{
    font-size: 18px;
    line-height: 16px;
    margin: 0;
}
.vehicle-prod-details h3{
    font-family: 'Nunito';
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    line-height: 18px;
    color: #6f7377;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
}
.vehicle-prod-details {
    .status-btn-wrap {
        height: 100%;
        display: flex;
        align-items: center;
        float: right;

        .status-button {
            font-size: 12px;
        }
    }
}
.vehicle-prod-details h6{
    color: #007cab;
}
.divider {
    margin: 0px 0px;
}
.vehical-icon-edit {
    position: relative;
    // height: 67px;
    // width: 65px;
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #707277;     

    span {
        position: absolute;
        top: -5px;
        right: -5px;
        height: 20px;
        width: 20px;
        border-radius: 4px;
        background: #db455c;
        text-align: center;
        line-height: 24px;
    }

    ion-icon {
        font-size: 16px;
        color: #ffffff;        
    }
}