<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-icon name="ios-arrow-back" routerLink="/cart" [queryParams]="{planID: quotePlan.PlanID, planType: planType}"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="ios-home" routerLink="/home"></ion-icon>
    </ion-buttons>
    <ion-title>{{planType}} Terms & Conditions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    <h1>General</h1>
    <p>You hereby agree and declare that you have familiarized yourself with the relevant terms and conditions of the product being purchased.</p>
    <p>You declare that you understand the features and benefits of the product, that you chose to buy, as clearly described in the detailed policy terms and conditions available on the MotorHappy website, including but not limited to the following:</p>
    <ul>
      <li>The nature and the terms of the product </li>
      <li>The extent of benefits to be provided</li>
      <li>The details of any special terms and conditions, exclusions of liability, waiting periods, loadings, penalties, restrictions or circumstances in which benefits will not be provided <b>such as but not limited to, pre-existing mechanical conditions</b></li>
      <li>The guaranteed minimum benefits</li>
      <li>The cooling off period</li>
      <li>The restrictions on or penalties for early termination</li>
      <li>The rules and terms for cancellation</li>
      <li>The risks associated with the product</li>
    </ul>
    <p>You further warrant and guarantee that all information supplied to us is true and correct. </p>
    <strong>Indemnity and waiver</strong>
    <p>You indemnify us, our employees and agents against any loss or damage which any person (including ourselves) may suffer arising directly or indirectly from the Agreement, the accessing of the Website and the provision of the products for purchase.</p>
    <p>To the extent permitted by law, we exclude and you waive all liability against us, our employees and agents, for any direct, indirect or consequential loss, costs, expenses or damage incurred by you or anyone else, whether in common law, in terms of statute or otherwise arising directly or indirectly from the Agreement, the accessing of the Website and the provision of the Products, save for instances of gross negligence on our part.</p>
    <strong>IMPORTANT : </strong>
    <p>The clauses <b>printed</b> in <b>bold</b> relate to issues which may pose some risk for you or which may limit our liability or which you may not ordinarily expect. Please pay special attention to these clauses. By concluding this transaction you, in addition to accepting all the terms of the Agreement, also specifically signify that you understand the bold clauses and accept them.</p>
    <strong>Accept / Decline</strong>
    <br>
    --------------------------------------------------------------
    <br>
    <div *ngIf = "quotePlan.PlanID == '5ba1d74d-e99a-496e-aa7e-517c020d7a68'">
      <h1>{{planType}}</h1>
      <strong  class="strong-first">EFT or Credit Card</strong>
      <p>If the product is paid for via EFT or credit card, the cover will commence 30 days after the payment has been made successfully.</p>
      <strong>Monthly Debit Order</strong>
      <p>If the product is paid for via monthly debit order, the cover will commence after 4 consecutive successful debit orders.</p>
      <strong>Service Plan Cancellation Process</strong>
      <p>This plan does not constitute a fixed term agreement.</p>
      <p>You can cancel this agreement at any time by giving <b>20 business days</b> notice in writing or by contacting our Customer Care.</p>
      <p>Motor Happy has the right to cancel this agreement within <b>20 business days</b> after giving you written notice of a material failure to comply with the agreement.</p>
      <p>You will <b>only</b> be entitled to a refund if you cancel this agreement and there has been no claims on the plan.</p>
      <p>A refund will be equal to the total amount paid to us for the plan less the following:</p>
      <ul>
        <li>commission paid,</li>
        <li>administration costs incurred by us for the period in which the plan was active; and</li>
        <li>A cancellation charge or such other cancellation charge as is reasonable in the circumstances.</li>
      </ul>
      <p>We will refund the balance that remains to you directly.</p>
      <p>If you cancel after claiming on the plan there will be no refund applicable.</p>
      <p>Please keep in mind that you do have a 5 day cooling off period from today, in which to change your mind and cancel the plan without any additional charge.</p>
      <strong>Accept / Decline</strong>
      <br>
      --------------------------------------------------------------
    </div>
    <div *ngIf = "quotePlan.PlanID == 'acaadfe3-0156-422b-9b93-f7778fe86925'">
      <h1>{{planType}}</h1>
      <strong class="strong-first">EFT or Credit Card</strong>
      <p>If the product is paid for via EFT or credit card, the cover will commence 30 days after the payment has been made successfully.</p>
      <strong>Monthly Debit Order</strong>
      <p>Not sold monthly</p>
      <strong>CANCELLATION & COOLING OFF PERIODS</strong>
      <strong>You are allowed to cancel this agreement, as long as you let us know in writing. However, please be aware of the following:</strong>
      <strong>Maintenance Plan Cancellation Process</strong>
      <p>This plan does not constitute a fixed term agreement.</p>
      <p>You can cancel this agreement at any time by giving 20 business days notice in writing or by contacting our Customer Care.</p>
      <p>Motor Happy has the right to cancel this agreement within <b>20 business days</b> after giving you written notice of a material failure to comply with the agreement.</p>
      <p>You will <b>only</b> be entitled to a refund if you cancel this agreement and there has been no claims on the plan.</p>
      <p>A refund will be equal to the total amount paid to us for the plan less the following:</p>
      <ul>
        <li>commission paid,</li>
        <li>administration costs incurred by us for the period in which the plan was active; and</li>
        <li>A cancellation charge or such other cancellation charge as is reasonable in the circumstances.</li>
      </ul>
      <p>We will refund the balance that remains to you directly.</p>
      <p>If you cancel after claiming on the plan there will be no refund applicable.</p>
      <p>Please keep in mind that you do have a 5 day cooling off period from today, in which to change your mind and cancel the plan without any additional charge.</p>
      <strong>Accept / Decline</strong>
      <br>
      --------------------------------------------------------------
    </div>
    <div *ngIf = "quotePlan.PlanID == '4b9a356a-93cc-4f1a-a200-0702542c916b'">
      <h1>{{planType}} Plan</h1>
      <strong class="strong-first">EFT or Credit Card</strong>
      <p>If the product is paid for via EFT or credit card, the cover will commence 30 days after the payment has been made successfully.</p>
      <strong>Monthly Debit Order</strong>
      <p>If the product is paid for via monthly debit order, the cover will commence after 3 successful debit orders.</p>
      <strong>CANCELLATION & COOLING OFF PERIODS</strong>
      <strong>You are allowed to cancel this agreement, as long as you let us know in writing. However, please be aware of the following:</strong>
      <p>Upon cancellation</p>
      <p>Please keep in mind that you do have a 30 day cooling off period from today, in which to change your mind and cancel the plan without any additional charge.</p>
      <strong>Accept / Decline</strong>
      <br>
      --------------------------------------------------------------
    </div>
    <div *ngIf = "quotePlan.PlanID == 'df99ec60-c075-4a60-a3f1-97531f84bb47'">
      <h1>{{planType}} Plan</h1>
      <strong>Monthly Debit Order</strong>
      <p>Not sold Yearly</p>
      <strong>CANCELLATION & COOLING OFF PERIODS</strong>
      <strong>You are allowed to cancel this agreement, as long as you let us know in writing. However, please be aware of the following:</strong>
      <strong>RenewTech Plan Cancellation Process</strong>
      <p>This plan does not constitute a fixed term agreement.</p>
      <p>You can cancel this agreement at any time by giving <b>20 business days</b> notice in writing or by contacting our Customer Care.</p>
      <p>Motor Happy has the right to cancel this agreement within <b>20 business days</b> after giving you written notice of a material failure to comply with the agreement.</p>
      <p>You will <b>only</b> be entitled to a refund if you cancel this agreement and there has been no claims on the plan.</p>
      <p>A refund will be equal to the total amount paid to us for the plan less the following:</p>
      <ul>
        <li>commission paid,</li>
        <li>administration costs incurred by us for the period in which the plan was active; and</li>
        <li>A cancellation charge or such other cancellation charge as is reasonable in the circumstances.</li>
      </ul>
      <p>We will refund the balance that remains to you directly.</p>
      <p>If you cancel after claiming on the plan there will be no refund applicable.</p>
      <p>Please keep in mind that you do have a 5 day cooling off period from today, in which to change your mind and cancel the plan without any additional charge.</p>
      <strong>Accept / Decline</strong>
      <br>
      --------------------------------------------------------------
    </div>
  </div>
</ion-content>
