h1 {
    font-size: 20px;
}

ul {
    padding-left: 30px;

    li {
        font-family: 'BPreplay';
        color: #707277;
        font-size: 13px;
        line-height: 1.4;
    }
}

.strong-first {
    display: block;
    margin-top: 13px;
}